// ADAPTIVE DESIGNS
/* Resolutie breedte statistieken Stageplaza.nl
 *
 * 320 (14,48%)
 * 720 (6,92%)
 * 1024 (6,01%)
 * 1280 (45,80%)
 * 1600 (10,19%)
 * 1920 (12,30%)
 * Totaal: 95,70%
 */
// 320
@media screen and (min-width:20em)
    .focus
        padding: 2em
        h1
            font-size: 7vw
        h2
            font-size: 4.5vw
        .buttons
            padding: 1em 15%
        a.btn
            font-size: 3vw
            span.em
                font-size: 8vw
        .call-us
            margin: 1em 0
            .mainline
                font-size: 4vw
            .subline
                font-size: 3vw
        .buttons
            font-size: 0.875em
// 720
@media screen and (min-width:45em)
    a.logo svg, a.mn-btn svg
        width: 3em
        height: 3em
    .focus
        //background: url(../img/focus-big.jpg) center center
        background-size: cover
        h1
            font-size: 5vw
        h2
            font-size: 2.5vw
        .buttons
            display: flex
            flex-direction: row
            justify-content: space-around
            font-size: 1em
            padding: 1vw 10%
        a.btn
            width: 28vw
            padding: 0.75em
            font-size: 2vw
            span.em
                font-size: 4vw
        .call-us
            margin: 2em 0
            .mainline
                font-size: 1.375em
            .subline
                font-size: 0.875em
    main
        .boxes
            max-width: 87.5em
            margin: 0 auto
            .box
                width: 50%
    div#mn
        display: flex
    footer
        font-size: 0.75rem
        .boxes
            flex-direction: row
            flex-wrap: wrap
        .box
            width: 33.33%
            box-sizing: border-box
        .box.close
            display: none
        div.legal
            margin: 0 10%
            font-size: 1em
    div.searchresults
        flex-direction: row
        padding: 1em 2em
        div.filters
            display: block
            border-right: 0.125em solid #ddd
            padding: 0 1em 0 0
            order: 1
        div.results
            order: 2
        a.filter-btn, a.xfilter-btn
            display: none
// 1024
@media screen and (min-width:64em)
    a.mn-btn, a#mn-close
        display: none
    nav.main
        div.main-nav, div.side-nav
            display: flex
        a
            font-size: 0.875em
            padding: 0.5em
    .focus
        h1
            font-size: 4vw
        h2
            font-size: 2vw
        div#info
            display: block
        .buttons
            font-size: 1.25vw
            padding: 4vw 15%
        a.btn
            width: 25vw
            padding: 0.75em
            font-size: 1.5vw
            span.em
                font-size: 3vw
        form.search
            input.keyword, input.city
                width: 16em
            select.radius
                width: 5em
    nav.sub
        display: flex
    main
        .boxes
            .box
                width: 33.333%
            .box.star
                order: -1
    footer
        .boxes
            max-width: 87.5em
            margin: 0 auto
        .box
            width: 20%
            padding: 0.5em 1em
            box-sizing: border-box
        div.legal
            span.copyright
                display: inline
    .vacancy-profile
        padding: 2em
        .flexbox
            display: flex
            justify-content: flex-start
        .vacancy
            padding: 0 1em 1em 0
            width: 70%
            max-width: 40em
        .company-details
            padding: 0 1em 1em 0
            width: 30%
            max-width: 30em

// 1280
@media screen and (min-width:80em)
    .focus
        h1
            font-size: 4vw
        h2
            font-size: 2vw
        .buttons
            font-size: 1vw
            padding: 1vw 25%
        a.btn
            width: 20vw
            padding: 0.75em
            font-size: 1vw
            span.em
                font-size: 2.5vw
    main
        .boxes
            .box
                width: 25%
            .box.star
                order: 0
            .box.star, .box.wiki, .box.ad
                width: 33%
// 1600
@media screen and (min-width:100em)
    .focus
        h1
            font-size: 3.5em
        h2
            font-size: 1.75em
        .buttons
            font-size: 1vw
            padding: 1vw 25%
        a.btn
            width: 20vw
            padding: 0.75em
            font-size: 1vw
            span.em
                font-size: 2.5vw
// 1920
@media screen and (min-width:120em)
    html
        margin: 0

@media print
    html
        margin: 0
