@keyframes heartbeat
    0%
        transform: scale(1)
    14%
        transform: scale(1.2)
    28%
        transform: scale(1)
    42%
        transform: scale(1.2)
    70%
        transform: scale(1)
