// BASIC LAYOUT
body
    display: flex
    min-height: 100vh
    flex-direction: column
main
    flex: 1
// FOOTER
footer
    color: #666
    background: #efefef
    border-top: 1px solid #ddd
    .boxes
        display: flex
        flex-direction: column
        padding: 0.5em
    .box
        padding: 0.5em
        h4
            text-transform: uppercase
            font-weight: 600
            color: $BLUE
            font-size: 0.75rem
            margin: 0.5rem 0
            border-bottom: 1px solid #ddd
            padding: 0 0 0.5em
        a
            display: block
            margin: 0.5rem 0
        a:hover
            text-decoration: none
    div.legal
        padding: 1em
        border-top: 1px solid #ddd
        text-align: center
        font-size: 0.75rem
        a
            margin-left: 1em
        span.copyright
            display: block
// LOGO
a.logo
    display: flex
    justify-content: center
    flex-direction: column
    padding: 0.5em
    svg
        display: block
        width: 2em
        height: 2em
a.logo:hover svg
    animation: heartbeat 1s infinite
// HEADER AND NAVIGATION
header
    display: flex
    align-items: stretch
    padding: 0 2%
    z-index: 10
    border-bottom: 0.0625em solid #ddd
    font-family: 'Open Sans', sans-serif
    text-transform: uppercase
// NAVIGATION
a.mn-btn
    display: inline-block
    padding: 0.5em
    svg
        display: block
        width: 2em
        height: 2em
a.mn-btn:hover svg
    transition: fill 0.5s ease
    fill: #000
nav.main
    display: flex
    flex: 1
    div.main-nav
        display: none
        justify-content: center
        flex: 1
        a
            display: flex
            justify-content: center
            flex-direction: column
            padding: 1.5em 2em
            font-weight: 600
            color: #222
            transition: background-color 0.5s ease
        a:hover, a.selected
            text-decoration: none
            color: #fff
            background: $ORANGE_LIGHT
    div.side-nav
        text-align: right
        display: none
        a
            display: flex
            justify-content: center
            flex-direction: column
            color: #000
            margin-left: 1em
        a:hover
            text-decoration: none
            color: $ORANGE
        a.employer-btn
            display: inline-block
            background: #273238
            color: #fff
            padding: 0.75em 1em
            text-align: center
            margin: 0.75em
        a.employer-btn:hover
            text-decoration: none
        a.employer-btn:after
            font-family: 'Glyphicons'
            content: '\e080'
            color: #fff
            display: inline-block
            padding-left: 0.75em
            font-size: 0.75em
nav.sub
    display: none
    background: #eee
    justify-content: center
    border-bottom: 0.0625em solid #ddd
    a
        color: #444
        text-transform: uppercase
        font-size: 0.875em
        padding: 0.5em 1em
        transition: background-color 0.5s ease
    a:hover, a.selected
        background: #ccc
        color: #fff
        text-decoration: none
div#mn
    display: none
div#mn:target
    display: flex

.focus
    padding: 1em
    background-image: linear-gradient(to bottom, #2D688C 0%, #5C9BBD 100%)
    text-align: center
    color: #fff
    text-shadow: 0 1px 0 rgba(0,0,0,50%)
    position: relative
    h1, h2
        color: #fff
    h1
        font-size: 1.5em
    h2
        font-size: 1.125em
    p
        margin: 0 auto
        padding: 0 1em
        max-width: 62.5em
        text-align: center

main
    .boxes
        padding: 1em
        display: flex
        flex-wrap: wrap
        justify-content: center
        .box
            width: 100%
            box-sizing: border-box
            padding: 0.5em 1em
            h1,h2,h3,h4,h5,h6
                border-bottom: 1px solid #ddd
                text-transform: uppercase
                font-weight: 600
            h2
                font-size: 1em
                padding: 0 0 .5em

.content
    padding: 1em

// MISC
.medium-rectangle
    width: 18.75em
    height: 15.625em
    max-width: 100%
    background: #ccc

div#info
    display: none
    p
        margin: 1em auto

ol.breadcrumb
    font-size: 0.5625em
    margin: 0
    padding: 0.5em 1rem
    li
        display: inline-block
        padding: 0.25em 0
        a
            color: #000
            text-transform: uppercase
    li:after
        content: "›"
        display: inline-block
        padding: 0 1em
        position: relative;
        opacity: 0.7;
    li:last-child:after
        content:""
