/*---------------------------------------------------------------------
[Colors]

Defines color variables and classes used throughout the stylus sheets.

Userful stylus color functions:
red()
green()
blue()
alpha()
dark()
light()
hue()
saturation()
lightness()
hsla()
---------------------------------------------------------------------*/
$MAIN = #245281
$FONT = rgba(255,255,255,0.9)
$SUB = #DBCEAC

$HEADING = $ORANGE

$LINK = #2980B9
$LINK_HOVER = #3091d1
$LINK_ACTIVE = #ff0000
$LINK_VISITED = #008aff

$HIGHLIGHT = $MAIN

$GRAY_BORDER = #d7d7d7
$GRAY_BACKGROUND = #f1f1f1

$sporange = #f78f1e
$spblue = #80a3b7

$ORANGE = #ff6700
$ORANGE_LIGHT = #F79020
$ORANGE_DARK = #993300
$BLUE = #105766
$BLUE_DARK = #405969
$GRAY_LIGHTEST = #eee
$GRAY_LIGHTER = #ccc
$GRAY_LIGHT = #999
$GRAY = #666
$GRAY_DARK = #333

$GREEN = #009933
$GREEN_DARK = #007711
$PURPLE_DARK = #330099
$RED = #ff0000
$RED_DARK = #660000
$GOLD = #dbceac
/***
 *  Color classes
 */
.black-text
    color: #000
.orange-text
    color: $ORANGE
.darkblue-text
    color: $BLUE_DARK
.lightgray-text
    color: $GRAY_LIGHT
.lightergray-text
    color: $GRAY_LIGHTER
.gray-text
    color: $GRAY
.darkgray-text
    color: $GRAY_DARK
.red-text
    color: $RED
.darkred-text
    color: $RED_DARK
.green-text
    color: $GREEN
.darkgreen-text
    color: $GREEN_DARK
.darkpurple-text
    color: $PURPLE_DARK
.highlight
    color: $HIGHLIGHT
