input, select
    color: #000

div.focus
    form
        background: linear-gradient(to bottom, rgba(255,255,255, 0.9) 0%, rgba(187,187,187,0.9) 100%)
        box-shadow: 0 0.125em 0.125em rgba(51,51,51,0.2)
        border-radius: 0.5em
        margin: 0 auto
        max-width: 62.5em
        padding: 1em
    input[type=text], input[type=search], select
        padding: 0.25em 0.5em
        background: rgba(255,255,255,0.9)
        border: 0
        border: 0.125em solid rgba(0,0,0,0.1)
        outline: none
        font-size: 1.25em
        width: 100%
        box-sizing: border-box
        margin: 0.125em 0
    input[type=submit], button
        transition: background-color 0.5s ease
        padding: 0.5em 1em
        margin: 0.125em 0
        background: $sporange
        border: 0.125em solid transparent
        display: inline-block
        color: #fff
        font-weight: 600
        outline: none
        text-transform: uppercase
    input[type=submit]:hover, button:hover
        background: darken($sporange, 20%)
    input[type=text]:focus, input[type=search]:focus, select:focus
        border-color: rgba(247,144,32,0.9)
// BUTTONS
a.btn
    display: inline-block
    padding: 0.5em 1em
    margin: 0.125em
    font-weight: 600
    color: #fff
    background: $GRAY
    text-transform: uppercase
    transition: background-color 0.5s ease
a.btn:hover
    text-decoration: none
a.btn.blue
    background: $BLUE
a.btn.blue:hover
    background: darken($BLUE, 20%)
a.btn.green
    background: $GREEN
a.btn.green:hover
    background: darken($GREEN, 20%)
a.btn.orange
    background: $sporange
a.btn.orange:hover
    background: darken($sporange, 20%)
a.btn.red
    background: $RED
a.btn.orange:hover
    background: darken($RED, 20%)
