/***
 *
 *  ICONS
 *  Sets all icons from one sprite image.
 *
 */
.icon16
    display: block
    width: 16px
    height: 16px
    background: url(IMG/sprite_icon16.png) no-repeat
    a
        display: block
        height: 16px

.icon48
    display: block
    width: 48px
    height: 48px
    background: url(IMG/sprite_icon48.png) no-repeat
    a
        display: block
        height: 48px
        text-indent: -9999px

.iconified
    position: relative
    padding-left: 26px
    .icon
        position: absolute
        left: 0
        top: 1px
/***
 *  Desc:    Sets background position of sprite. Start position is 0 by
 *           default and iterates y by multiplying with distance
 */

x = y = 0
distance = 16px
.icon16.phone
    background-position: x y
.icon16.mail
    background-position: x (y - distance)
.icon16.house
    background-position: x (y - (distance * 2))
.icon16.book
    background-position: x (y - (distance * 3))
.icon16.papers
    background-position: x (y - (distance * 4))
.icon16.empty
    background-position: x (y - (distance * 5))
x = y = 0
distance = 48px
.icon48.vimeo
    background-position: x y
.icon48.facebook
    background-position: x (y - distance)
.icon48.gmaps
    background-position: x (y - (distance * 2))
.icon48.car
    background-position: x (y - (distance * 3))
.icon48.train
    background-position: x (y - (distance * 4))
.icon48.helicopter
    background-position: x (y - (distance * 5))

.icon48.vimeo:hover
    background-position: -48px y
.icon48.facebook:hover
    background-position: -48px (y - distance)
.icon48.gmaps:hover
    background-position: -48px (y - (distance * 2))
