// HOME
.focus
    .buttons
        font-size: 0.75em
        padding: 1em
    a.btn
        display: block
        margin: 1.25em auto 0.75em
        padding: 0.75em
        font-size: 3.5vw
        font-weight: 600
        line-height: 1.2
        text-decoration: none
        outline: 0.5em rgba(255,255,255,30%) solid
        transition: background-color 0.5s ease
        transition: outline-color 0.5s ease
        text-shadow: none
        span.em
            display: block
            font-weight: 700
            text-transform: uppercase;
            font-size: 10vw
    a.btn.orange
        background: $ORANGE
        color: #fff
    a.btn.orange:hover
        background: #fff
        color: $ORANGE
        outline-color: rgba(0,0,0,30%)
    a.btn.blue
        background: $BLUE
        color: #fff
    a.btn.blue:hover
        background: #fff
        color: $BLUE
        outline-color: rgba(0,0,0,30%)
    .call-us
        .mainline
            font-size: 0.875em
        .subline
            font-size: 0.625em
// SEARCH
div.searchresults
    display: flex
    flex-direction: column
    padding: 1em
div.filters
    display: none
    width: 15em
    h2, h3
        text-transform: uppercase
        font-weight: 600
    h2
        font-size: 1em
        color: #666
    h3
        font-size: 0.875em
        color: $sporange
    ul
        list-style-type: none
        padding: 0
        li span
            color: $GRAY
        li.selected
            font-weight: bold
            a
                color: #000
div.results
    width: 100%
    max-width: 50em
    h1
        margin-left: 0.5em
    ul.pagination
        padding: 0
        li
            display: inline-block
            border: 0.125em solid #ddd
            margin-right: 0.5em
            margin: 0 0 0.5em 0.5em
            a
                display: block
                padding: 0.5em 1em
        li.selected a
            font-weight: 600
            color: #000
        li:hover a
            text-decoration: none
            background: lighten($ORANGE, 85%)
a.result
    color: #000
    display: block
    padding: 1em
    transition: background-color 0.5s ease
    h2
        color: $LINK
        text-decoration: underline
        font-weight: 600
        margin: 0
        font-size: 1em
    .company
        color: #006621
a.result:hover
    text-decoration: none
    background: lighten($ORANGE, 85%)
a.filter-btn
    border: 0.125em solid #ddd
    padding: 0.5em 1em
    display: inline-block
    margin: 1em
a.filter-btn:hover
    background: lighten($ORANGE, 85%)
    text-decoration: none
div#filters:target
    display: block

.vacancy-profile
    padding: 1em
    h2
        color: darken($HEADING, 50%)
    h3
        color: darken($HEADING, 75%)
.company-details img
    width: 100%
    max-width: 480px
