/***
 *
 *  TYPOGRAPHY
 *  The font-size percentage is of 16px. (87.5 * 16px = 14px = 1em).
 *
 */
@font-face {
    font-family: 'Glyphicons';
    src: local('☺'), url('../fonts/glyphicons-halflings-regular.woff') format('woff');
}

body
    font-family: 'Open Sans', Helvetica, Arial, sans-serif
    font-size: 16px
    font-size: 1rem

//
// HEADINGS
//
// margin-bottom = ( base font-size * base line-height ) / current font-size
h1,h2,h3,h4,h5,h6
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    line-height: 1.1
    margin-top: 0
    color: $HEADING

.giga
    font-size: 60px
    font-size: 3.33333rem
    margin: 8.91px 0
    margin: 0.495rem 0

.mega
    font-size: 48px
    font-size: 2.6667rem
    margin: 11.1375px 0
    margin: 0.61875rem 0

h1,.alpha
    font-size: 32px
    font-size: 2rem
    margin: 21.44px 0
    margin: 0.67rem 0

h2,.beta
    font-size: 24px
    font-size: 1.5rem
    margin: 19.92px 0
    margin: 0.83rem 0

h3,.gamma
    font-size: 18.72px
    font-size: 1.17rem
    margin: 16px 0
    margin: 1rem 0

h4,.delta
    font-size: 16px
    font-size: 1rem
    margin: 21.28px 0
    margin: 1.65rem 0
//
// PARAGRAPHS
//
p
    margin: 16px 0
    margin: 1rem 0 /* bottom margin for paragraphs */
    line-height: 1.5em

//
// ANCHORS
//
a
    color: $LINK
    text-decoration: none

a:hover
    color: $LINK_HOVER
    text-decoration: underline

a:active
    outline: 0

//
// FONT SIZES
//
.smallest
    font-size: 70%

.smaller
    font-size: 75%

.small
    font-size: 80%

.large
    font-size: 100%

.larger
    font-size: 112.5%

.largest
    font-size: 140%
//
// STRONG AND CURSIVE
//
.strong
    font-weight: bold

.cursive
    font-style: italic
//
// ALIGNMENT
//
.align-left
    text-align: left

.align-center
    text-align: center

.align-right
    text-align: right
//
// LISTS
//
ul.list
    padding: 0
    list-style-type: none
    margin-bottom: 1em
    display: table
    li
        display: table-row
        padding: 0.25em 0
    li:before
        font-family: 'Glyphicons'
        content: '\e080'
        color: $BLUE
        display: table-cell
        padding-right: 10px
        font-size: 0.65em

dl
    margin: 0 0 1.5em 0

dl dt
    font-weight: bold

dd
    margin: 0

.unlist
    margin: 0
    padding: 0
    list-style-type: none

ul.tag-cloud
    margin: 0
    padding: 0
    li
        display: inline
        padding-right: 1em
        white-space: nowrap
        font-size: 0.850em
//
// TABLES
//
table
    font-size: 0.875em
    th
        text-align: left
        font-weight: normal
        color: #666
        font-weight: bold
    th,td
        padding: 0.125em 0.5em 0.125em 0

table.sandy
    border: 1px solid $SUB
    width:100%
    margin-bottom: 1em
    thead
        tr
            background-color: #eee
            background: linear-gradient(to bottom, lighten($SUB, 40%) 0%, $SUB 100%)
    th
        font-weight: bold
        text-align: left
    th, td
        border-bottom: 1px solid $SUB
        vertical-align: top
        padding: 5px
        color: #333
    tbody
        tr
            background: lighten($SUB, 30%)
        tr:nth-child(even)
            background: lighten($SUB, 50%)
        tr:last-child
            th, td
                border-bottom: 0
        tr.selected
            background: lighten($HEADING, 80%)
        tr:hover
            background: lighten($SUB, 70%)
/***
 *  Misc markup
 */
strong, dfn
    font-weight: bold

em,dfn
    font-style: italic

sup,sub
    line-height: 0

abbr,acronym
    border-bottom: 1px dotted #666

pre
    white-space: pre

code
    display: block
    border: 1px dashed darken($HEADING, 50%)
    background-color: #f1f1f1
    margin: 1em 0
    padding: 1em
    font-family: monospace, Courier
    font-size: 0.850em

address
    font-style: italic

del
    text-decoration: line-through
    color: #666

