{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}About {{ block.super }}{% endblock %}
{% block meta %}
    <meta name="description" content="Learn more about WhooHoo's in-house team of artists.">
{% endblock %}
{% block bgmedia %}
    <div id="media">
        <div style="background: url({% static 'img/backgrounds/bg_about.png' %}) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
    </div>
    <div id="grain"></div>
{% endblock %}
{% block content %}

{% for profile in profiles %}
    <a class="about-thumbnail" href="{% url 'about_profile' profile_slug=profile.slug %}">
        {% if profile.first_name or profile.last_name %}
            <div class="info">
                <h1 class="name">{{ profile.first_name }} {{ profile.last_name }}</h1>
                <h2 class="job-title">{{ profile.job_title }}</h2>
            </div>
        {% endif %}
        <img src="{{ MEDIA_URL }}{{ profile.avatar }}">
        {% if profile.avatarvideos.all %}
            <video muted loop preload="none">
                {% for video in profile.avatarvideos.all %}
                    <source src="{{ MEDIA_URL }}{{ video.video }}" type="video/{{ video.get_format_display }}">
                {% endfor %}
            </video>
        {% endif %}
    </a>
    {% cycle '' '' '<div class="clear"></div>' %}
{% endfor %}
{% endblock %}
{% block javascript %}
<script type="text/javascript">
{# Resize thumbnails, swap videos and fade in #}
$( document ).ready(function(){
    // Resize all thumbnails
    $('.about-thumbnail').css({'height': $('.about-thumbnail').width() / 4 * 3});
    $( window ).resize(function(){
        $('.about-thumbnail').css({'height': $('.about-thumbnail').width() / 4 * 3});
    });
    // Fade in images
    $profiles = $('.about-thumbnail')
    for (i = 0; i < $profiles.length; i++) {
        $profiles.eq(i).hide().delay(i * 250).fadeIn(1000);
    }
    // Add source on hover and play/pause
    $('.about-thumbnail').hover(function(){
        if(width > 999){
            $('video', this).get(0).play();
            $('img', this).fadeOut(250);
        }
    }, function(){
        if(width > 999){
            $('img', this).fadeIn(250, function(){
                $(this).parent().find('video', this).get(0).pause();
                // $(this).parent().find('video', this).get(0).currentTime = 0;
            });
        }
    });
});
</script>
{% endblock %}
