{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ profile.first_name }} {{ profile.last_name }} {% if profile.job_title %}({{ profile.job_title }}) {{ block.super }}{% endif %}{% endblock %}
{% block bgmedia %}
    <div id="media">
        {% if profile.background %}
            <div style="background: url({{ MEDIA_URL }}{{ profile.background }}) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
        {% else %}
            <div style="background: url({% static 'img/backgrounds/bg_about.png' %}) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
        {% endif %}
    </div>
    <div id="grain"></div>
{% endblock %}
{% block content %}
{% thumbnail profile.cover "1600x300" crop="center" as im %}
<div class="profile-cover" style="background: url({{ im.url }}); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
{% endthumbnail %}
<div class="content">
    <div class="container">
        <div class="span-24">
            <h1>{{ profile.first_name }} {{ profile.last_name }} {% if profile.job_title %}({{ profile.job_title }}){% endif %}</h1>
        </div>
        <div class="profile-sidebar">
            {% thumbnail profile.avatar "230x230" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ profile.first_name }} {{ profile.last_name }}" class="append-bottom">
            {% endthumbnail %}
            <p>{{ profile.slogan }}</p>
            {% if profile.social.all %}
                <h2>Follow me</h2>
                <ul class="unlist">
                {% for social in profile.social.all %}
                    <li style="margin-bottom: 5px"><a href="{% if social.medium =  0 %}mailto:{% endif %}{{ social.url }}" class="social {{ social.get_medium_display|lower }}">{{ social.get_medium_display }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="profile-content">
            <h2>Biography</h2>
            {{ profile.biography_html|safe }}
            <p><a href="{% url 'about' %}">Return to about</a></p>
        </div>
    </div>
</div>
{% endblock %}
