{% load staticfiles %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}— Studio WhooHoo!{% endblock %}</title>
     <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="http://studiowhoohoo.com/">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="screen">
    {% block extrahead %}{% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-28564209-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="background">
        {% block bgmedia %}{% endblock %}
    </div>
    <header role="banner">
        <nav class="main">
            <a href="{% url 'home' %}" class="logo">
                <img id="logo-collapsed" src="{% static 'img/logo_studio-whoohoo-collapsed.png' %}">
                <img id="logo-expanded" src="{% static 'img/logo_studio-whoohoo-header.png' %}">
            </a>
            <div class="mobilenav">
                <div id="togglenav"></div>
            </div>
            <ul>
                <li>
                    <a href="{% url 'portfolio' %}" class="portfolio {% if selectnav == 'portfolio' %} selected{% endif %}">
                        <span class="navglow"></span>
                        <span class="navlabel"></span>
                        <span class="navitem">Portfolio</span>
                    </a>
                </li><li>
                    <a href="{% url 'reel' %}" class="reel {% if selectnav == 'reel' %} selected{% endif %}">
                        <span class="navglow"></span>
                        <span class="navlabel"></span>
                        <span class="navitem">Reel</span>
                    </a>
                </li><li>
                    <a href="{% url 'about' %}" class="about {% if selectnav == 'about' %} selected{% endif %}">
                        <span class="navglow"></span>
                        <span class="navlabel"></span>
                        <span class="navitem">About</span>
                    </a>
                </li><li>
                    <a href="{% url 'contact' %}" class="contact {% if selectnav == 'contact' %} selected{% endif %}">
                        <span class="navglow"></span>
                        <span class="navlabel"></span>
                        <span class="navitem">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <div class="clear"></div>
    <footer role="contentinfo">
        <div class="diamonds"></div>
        <div class="container">
            <a href="{% url 'about_profile' profile_slug='studio-whoohoo' %}" class="logo">
                <img src="{% static 'img/logo_studio-whoohoo-footer.png' %}">
            </a>
            <div class="block">
                <div class="icon-label">
                    <span class="icon16 house"></span>
                    <span class="iconlabel">
                        Minckelersweg 6<br>
                        2031 EM Haarlem<br>
                        The Netherlands
                    </span>
                </div>
                <span class="navglow"></span>
            </div>
            <div class="block">
                <div class="icon-label">
                    <span class="icon16 phone"></span>
                    <span class="iconlabel">
                        +31 (0)23 844 90 21
                    </span>
                </div>
                <div class="icon-label">
                    <span class="icon16 mail"></span>
                    <span class="iconlabel">
                        <a href="mailto:mail@whoohoo.tv">mail@whoohoo.tv</a>
                    </span>
                </div>
                <span class="navglow"></span>
            </div>
            <div class="block">
                <div class="icon-label">
                    <span class="icon16 book"></span>
                    <span class="iconlabel">
                        KvK: 58545409
                    </span>
                </div>
                <div class="icon-label">
                    <span class="icon16 papers"></span>
                    <span class="iconlabel">
                        <a href="{% url 'terms' %}">Terms and Conditions</a>
                    </span>
                </div>
                <span class="navglow"></span>
            </div>
            <div class="block">
                <div class="icon48 facebook float-left"><a target="_blank" href="https://www.facebook.com/StudioWhooHoo" rel="author">Studio Whoohoo Facebook</a></div>
                <div class="icon48 vimeo float-left"><a target="_blank" href="http://vimeo.com/studiowhoohoo" rel="author"></a></div>
                <div class="icon48 gmaps float-left"><a target="_blank" href="https://www.google.nl/maps?f=q&source=s_q&hl=nl&geocode= &q=studio whoohoo&aq=&t=h&g=Minckelersweg 6, Waarder- en Veerpolder, 2031 Haarlem&ie=UTF8&hq=studio whoohoo&hnear=Amsterdam, North Holland&z=12&vpsrc=0&iwloc=A&cid=1957670995562282288"></a></div>
                <span class="navglow"></span>
            </div>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'plugins/jquery-1.10.2.min.js' %}"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'plugins/jquery-ui-1.10.3.custom.min.js' %}"><\/script>')</script>
    <script>
        {# Navigation animation #}
        var width = $('body').width();
        $(window).resize(function() {
          width = $('body').width();
          console.log(width)
        });
        $('header .logo').hover(function(){
            if (width > 999) {
                $('#logo-collapsed').animate({'top': '-=65'}, 100, 'easeInOutExpo', function(){
                    $('#logo-expanded').animate({'top': '+=215'}, 500, 'easeInOutExpo');
                });
            }
        }, function(){
            if (width > 999) {
                $('#logo-expanded').animate({'top': '-=215'}, 500, 'easeInOutExpo', function(){
                    $('#logo-collapsed').animate({'top': '+=65'}, 100, 'easeInOutExpo');
                });
            }
        });
        $('nav.main a:not(.selected)').hover(function(){
            if (width > 999) {
                $('.navglow', this).addClass('glow').fadeIn(500);
                $('.navlabel', this).animate({'top': '+=50'}, 500, 'easeOutExpo');
            }
        }, function(){
            if (width > 999) {
                $('.navglow', this).removeClass('glow').hide();
                $('.navlabel', this).animate({'top': '-=50'}, 500, 'easeInOutExpo');
            }
        });
        $('.block').hover(function(){
            if (width > 999) {
                $('.navglow', this).fadeIn(500);
            }
        }, function(){
            if (width > 999) {
                $('.navglow', this).fadeOut(500);
            }
        });
        $('#togglenav').click(function(){
            $('nav.main ul').toggle()
        });
    </script>
    <script>
        {# Background container size (contains video, image and grain) #}
        $( document ).ready( function(){
            $('#background').css({"width": window.innerWidth,
                                  "height": window.innerHeight })
        });
        $( window ).resize(function(){
            $('#background').css({"width": window.innerWidth,
                                  "height": window.innerHeight, })
        });
    </script>

    {% block javascript %}{% endblock %}
</body>
</html>
