{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Contact {{ block.super }}{% endblock %}
{% block meta %}
    <meta name="description" content="Contact WhooHoo via mail, phone or simply visit us. Coffee's ready!">
{% endblock %}

{% block bgmedia %}
    <div id="media">
    <div style="background: url({% static 'img/backgrounds/bg_contact.png' %}) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div></div>
    <div id="grain"></div>
{% endblock %}

{% block content %}
<div class="contact-panes">
    <div class="container">
        <div class="contact-pane bglight">
            <h1>Address</h1>
            <p>
                Building: Nieuwe Vide<br>
                Minckelersweg 6<br>
                2031 EM Haarlem<br>
                The Netherlands
            </p>

            <h1>Phone</h1>
            <p>+31 (0)23 844 90 21</p>

            <h1>Mail</h1>
            <script type="text/javascript">to=('mail' + '@' + 'whoohoo' + '.tv'); document.write('<a href="mailto:' + to + '">'+ to + '</a>');</script>
        </div>
        <div class="contact-pane">
            <h1>Navigation</h1>
            <ul class="contact-travel">
                <li>
                    <span class="icon48 car"></span>
                    <span class="iconlabel">Please enter <a href="https://www.google.nl/maps?f=q&source=s_q&hl=nl&geocode=%20&q=studio%20whoohoo&aq=&t=h&g=Minckelersweg%206,%20Waarder-%20en%20Veerpolder,%202031%20Haarlem&ie=UTF8&hq=studio%20whoohoo&hnear=Amsterdam,%20North%20Holland&z=12&vpsrc=0&iwloc=A&cid=1957670995562282288">ENERGIEPLEIN 16</a> in your navigation system to reach our front doorstep. Free parking.</span>
                </li>
                <li>
                    <span class="icon48 train"></span>
                    <span class="iconlabel">Travel to Haarlem CS. From there it is a 10 minute walk to our studio. Running is allowed.. call for a personal pick up.</span>
                </li>
                <li>
                    <span class="icon48 helicopter"></span>
                    <span class="iconlabel">Unfortunately we do not own a helicopter platform.</span>
                </li>
            </ul>
        </div>
        <div class="contact-pane bglight">
            <h1>Vacancies</h1>
            <p>
                At the moment we do not have any specific job openings, but we are always interested in talented artists.
            </p>
            <p>
                Please send your work, portfolio, showreel, motivation, website, gifts and donations to
                <script type="text/javascript">to=('jobs' + '@' + 'whoohoo' + '.tv'); document.write('<a href="mailto:' + to + '">'+ to + '</a>');</script>
            </p>
        </div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2435.217927586959!2d4.6549432!3d52.384599599999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b2b0b65f5933d30!2sStudio+Whoohoo!5e0!3m2!1snl!2snl!4v1394835515893" width="100%" height="400" frameborder="0" style="border:0; display: block"></iframe>
{% endblock %}
