{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Studio WhooHoo!{% endblock %}
{% block meta %}
    <meta name="description" content="WhooHoo! is an animation &amp; visual effects studio based in the beautiful city of Haarlem, the Netherlands.">
{% endblock %}
{% block bgmedia %}
    <div id="media">
        <video id="intro" autoplay muted loop width="960" height="540" class="fill">
            <source src="{% static 'video/intro.mp4' %}" type="video/mp4">
            <source src="{% static 'video/intro.webm' %}" type="video/webm">
        </video>
        <div style="background: url({% static 'img/vanrossum.jpg' %}) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
    </div>
    <div id="grain"></div>
{% endblock %}
{% block content %}
    <div id="newsfeed">
        <h1 class="beta">Featured</h1>
        {% for project in projects %}
            <a class="project-thumbnail" id="item-{{ forloop.counter }}" href="{% url 'portfolio_project' client_slug=project.client.slug project_slug=project.slug %}">
                {% if project.thumbnail %}
                    {% thumbnail project.thumbnail "320x180" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                    <img src="{% static 'img/studio-whoohoo-logo.png' %}" width="320" height="180" data-large="{% static 'img/studio-whoohoo-logo.png' %}">
                {% endif %}
                <div class="title">{{ project.title }}</div>
            </a>
        {% endfor %}
        <div class="clear"></div>
        <h1 class="beta">News feed</h1>
        {% if news %}
            {% for article in news %}
                <div class="headline">
                    <div class="smaller lightergray-text">{{ article.date|date:"d-m-Y" }}:</div>
                    <p class="larger">{{ article.title }}</p>
                    {% if not forloop.last %}
                        <hr class="news">
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No news yet!</p>
        {% endif %}
    </div>
{% endblock %}
{% block javascript %}
<script>
    {# Makes the video cover the background #}
   var sxsw = {
    full_bleed: function(boxWidth, boxHeight, imgWidth, imgHeight) {
        var initW = imgWidth;
        var initH = imgHeight;
        var ratio = initH / initW;
        imgWidth = boxWidth;
        imgHeight = boxWidth * ratio;
        if(imgHeight < boxHeight){
            imgHeight = boxHeight;
            imgWidth = imgHeight / ratio;
        }
        return {
            width: imgWidth,
            height: imgHeight
        };
    },
};
jQuery(document).ready(function($) {
     function recalculateFills() {
        var footerHeight = $('footer').height();
        var browserHeight = Math.round($(window).height()) - footerHeight;
        var browserWidth = Math.round($(window).width());
        var fills = $('.fill');
        fills.each(function () {
        var videoHeight = $(this).height();
        var videoWidth = $(this).width();
        var new_size = sxsw.full_bleed(browserWidth, browserHeight, videoWidth, videoHeight);
        $(this)
            .width(new_size.width)
            .height(new_size.height)
            .css("margin-left", ((browserWidth - new_size.width)/2))
            .css("margin-top", ((browserHeight - new_size.height)/2));
        });
        var navHeight = 50;
        $('#newsfeed').css('min-height', browserHeight - navHeight);
     }
     recalculateFills();
    $(window).resize(function() {
        recalculateFills();
    });
})
</script>
{% endblock %}
