{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_to_columns %}
{% block title %}Showreel {{ block.super }}{% endblock %}
{% block meta %}
    <meta name="description" content="See a selection of WhooHoo's top-notch work, pressed into one short video!">
{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'plugins/FlexSlider-2.2.2/flexslider.css' %}" type="text/css" media="screen">
{% endblock %}
{% block bgmedia %}
    <div id="media">
        <div style="background: url({% static 'img/backgrounds/bg_reel.png' %}) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
    </div>
    <div id="grain"></div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="span-25">
            <div class="videoplayer">
                <iframe src="//player.vimeo.com/video/89418324" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="span-24">
                <h1>Reel</h1>
                <span class="project_date lightgray-text">{{ project.date|date:"d.m.y" }}</span>
            </div>
            <div class="reelbox">
                <p>
                    Showcase of WhooHoo's animation and visual effects work.<br>
                    If you have any questions regarding a project, feel free to <a href="{% url 'contact' %}">contact us</a>.
                </p>
                <p>
                    WhooHoo! provides:
                </p>
                <ul>
                    <li>Creative concepts</li>
                    <li>Brand storytelling</li>
                    <li>Storyboarding</li>
                    <li>Concept art</li>
                    <li>2D and 3D animations</li>
                    <li>Motion graphics (leaders, title sequences, infographics)</li>
                    <li>Compositing</li>
                    <li>High-end visual effects,</li>
                    <li>Interactive web video</li>
                </ul>
            </div>
            <div class="clientbox">
                <h2>Some of our clients</h2>
                <br>
                <h3>Production companies:</h3>
                <div class="logobox">
                    <img src="{% static 'img/reel/jwt.png' %}" alt="JWT Amsterdam">
                </div>
                <div class="logobox">
                    <img src="{% static 'img/reel/bigshots.png' %}" alt="Big Shots">
                </div>
                <div class="logobox">
                    <img src="{% static 'img/reel/akula.png' %}" alt="Akula">
                </div>
                <div class="logobox">
                    <img src="{% static 'img/reel/interakt.png' %}" alt="Interakt">
                </div>
                <div class="clear"></div>
                <br>
                <h3>Brands and other companies:</h3>
                <ul class="unlist clientlist">
                    {% for client in clients %}
                        <li>{{ client }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div  id="slider" class="flexslider project_carousel">
            <ul class="slides">
            {% for item in portfolio %}
                <li>
                    <a class="item" id="item-{{ forloop.counter }}" href="{% url 'portfolio_project' client_slug=item.client.slug project_slug=item.slug %}">
                    {% if item.thumbnail %}
                        {% thumbnail item.thumbnail "267x150" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    {% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script defer src="{% static 'plugins/FlexSlider-2.2.2/jquery.flexslider-min.js' %}"></script>
    <script>
    {# Settings for the sliding gallery #}
	$(window).load(function() {
          $('.flexslider').flexslider({
            namespace: "flex-",
            animation: "slide",
            easing: "swing",
            slideshow: false,
            animationLoop: true,
            directionNav: true,
            controlNav: false,
            itemWidth: 267,
            itemMargin: 0,
          });
        });
    </script>
{% endblock %}

