{% extends 'base.html' %}
{% load staticfiles %}
{% load list_to_columns %}
{% block title %}Terms and Conditions {{ block.super }}{% endblock %}
{% block meta %}
    <meta name="robots" content="nosnippet, noarchive">
{% endblock %}
{% block bgmedia %}
    <div id="media">
        <div style="background: url({% static 'img/vanrossum.jpg' %}) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
    </div>
    <div id="grain"></div>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="span-25">
                <h1>Algemene voorwaarden van V.O.F. Studio Whoohoo.</h1>

                <h2>Artikel 1: Definities </h2>
                <p>
                    1.1. In deze algemene voorwaarden worden de hiernavolgende termen in de navolgende betekenis gebruikt, tenzij uitdrukkelijk anders is aangegeven.
                </p>
                <p>
                    Studio Whoohoo: Is de gebruiker van de algemene voorwaarden.<br>
                    Opdrachtgever: De wederpartij van Studio Whoohoo.<br>
                    Overeenkomst: De overeenkomst tot het verrichten van diensten.<br>
                </p>

                <h2>Artikel 2: Algemeen </h2>
                <p>
                    2.1. Deze voorwaarden gelden voor iedere aanbieding, offerte en overeenkomst tussen Studio Whoohoo en een opdrachtgever waarop Studio Whoohoo deze voorwaarden van toepassing heeft verklaard, voor zover van deze voorwaarden niet door partijen uitdrukkelijk en schriftelijk is afgeweken. 
                </p>
                <p>
                    2.2. De onderhavige voorwaarden zijn eveneens van toepassing op alle overeenkomsten met Studio Whoohoo, voor de uitvoering waarvan derden dienen te worden betrokken. 
                </p>
                <p>
                    2.3. Eventuele afwijkingen op deze algemene voorwaarden zijn slechts geldig indien deze uitdrukkelijk schriftelijk zijn overeengekomen. 
                </p>
                <p>
                    2.4. De toepasselijkheid van eventuele inkoop¬ of andere voorwaarden van opdrachtgever wordt uitdrukkelijk van de hand gewezen. 
                </p>
                <p>
                    2.5. Indien een of meerdere der bepalingen in deze algemene voorwaarden of in de bijbehorende overeenkomst nietig zijn of vernietigd mochten worden blijven de overige bepalingen van deze algemene voorwaarden en overeenkomst volledig van toepassing. Studio Whoohoo en opdrachtgever zullen dan in overleg treden teneinde nieuwe bepalingen ter vervanging van de nietige c.q. vernietigde bepalingen overeen te komen, waarbij indien en voor zoveel mogelijk het doel en de strekking van de oorspronkelijke bepaling in acht worden genomen.
                </p>

                <h2>Artikel 3: Aanbiedingen en offertes </h2>
                <p>
                    3.1. Alle aanbiedingen zijn vrijblijvend, tenzij in het aanbod schriftelijk uitdrukkelijk anders is aangegeven. 
                </p>
                <p>
                    3.2. De prijzen in de genoemde aanbiedingen en offertes zijn exclusief BTW en andere heffingen van overheidswege, alsmede eventuele in het kader van de overeenkomst te maken kosten, waaronder verzend- en administratiekosten, tenzij anders aangegeven. 
                </p>
                <p>
                    3.3. Indien de aanvaarding (op ondergeschikte punten) afwijkt van het in de offerte opgenomen aanbod is Studio Whoohoo daaraan niet gebonden. De overeenkomst komt dan niet overeenkomstig deze afwijkende aanvaarding tot stand, tenzij Studio Whoohoo anders aangeeft. 
                </p>
                <p>
                    3.4. Een samengestelde prijsopgave verplicht Studio Whoohoo niet tot het verrichten van een gedeelte van de opdracht tegen een overeenkomstig deel van de opgegeven prijs. 
                </p>
                <p>
                    3.5. Aanbiedingen of offertes gelden niet automatisch voor toekomstige opdrachten.
                </p>

                <h2>Artikel 4: Uitvoering van de overeenkomst, informatie en middelen </h2>
                <p>
                    4.1 Studio Whoohoo zal de overeenkomst naar beste inzicht en vermogen en overeenkomstig de eisen van goed vakmanschap uitvoeren, een en ander op grond van de kundigheid die opdrachtgever redelijkerwijs van Studio Whoohoo mag verwachten. Studio Whoohoo kan evenwel niet instaan voor het bereiken van een enig beoogd resultaat. 
                </p>
                <p>
                    4.2. Studio Whoohoo bepaalt de wijze waarop en door welke perso(o)n(en) de opdracht wordt uitgevoerd, doch neemt daarbij de door opdrachtgever kenbaar gemaakte wensen zoveel mogelijk in acht. Indien en voor zover een goede uitvoering van de overeenkomst dit vereist, heeft Studio Whoohoo het recht bepaalde werkzaamheden te laten verrichten door derden. 
                </p>
                <p>
                    4.3. De opdrachtgever draagt er zorg voor dat alle gegevens, alsmede wijzigingen hierin, in de vorm en op de wijze, waarvan Studio Whoohoo aangeeft dat deze noodzakelijk zijn of waarvan de opdrachtgever redelijkerwijs behoort te begrijpen dat deze noodzakelijk zijn zowel bij aanvang als tijdens (voor) het uitvoeren van de overeenkomst, tijdig en behoorlijk aan Studio Whoohoo worden verstrekt. Indien de voor de uitvoering van de overeenkomst benodigde gegevens niet tijdig of niet behoorlijk aan Studio Whoohoo zijn verstrekt, heeft Studio Whoohoo het recht de uitvoering van de overeenkomst op te schorten en / of de uit de vertraging voortvloeiende extra kosten volgens de gebruikelijke tarieven aan de opdrachtgever in rekening te brengen. 
                </p>
                <p>
                    4.4. De opdrachtgever draagt er zorg voor dat alle middelen en voorzieningen, waarvan Studio Whoohoo aangeeft dat deze noodzakelijk zijn of waarvan de opdrachtgever redelijkerwijs behoort te begrijpen dat deze noodzakelijk zijn voor het uitvoeren van de overeenkomst, tijdig en ten allen tijde aan Studio Whoohoo ter beschikking staan en naar behoren functioneren. Indien de voor de uitvoering van de overeenkomst benodigde middelen niet afdoende ter beschikking van Studio Whoohoo zijn, heeft Studio Whoohoo het recht de uitvoering van de overeenkomst op te schorten en / of de uit de vertraging voortvloeiende extra kosten volgens de gebruikelijke tarieven aan de opdrachtgever in rekening te brengen. 
                </p>
                <p>
                    4.5. Opdrachtgever staat in voor juistheid, volledigheid en betrouwbaarheid van de door of namens hem aan Studio Whoohoo verstrekte gegevens, middelen en voorzieningen. Studio Whoohoo is niet aansprakelijk voor schade, van welke aard ook, doordat Studio Whoohoo is uit gegaan van door de opdrachtgever verstrekte onjuiste en / of onvolledige gegevens e.d., tenzij deze onjuistheid of onvolledigheid voor Studio Whoohoo kenbaar behoorde te zijn. 
                </p>
                <p>
                    4.6. Opdrachtgever is gehouden Studio Whoohoo onverwijld te informeren omtrent wijzigingen in de verstrekte gegevens e.d., dan wel andere feiten en omstandigheden, die in verband met de uitvoering van belang kunnen zijn. 
                </p>
                <p>
                    4.7. Indien is overeengekomen dat de overeenkomst in fasen zal worden uitgevoerd kan Studio Whoohoo de uitvoering van die onderdelen die tot een volgende fase behoren opschorten tot dat de opdrachtgever de resultaten van de daaraan voorafgaande fase schriftelijk heeft goedgekeurd. 
                </p>
                <p>
                    4.8. Indien door Studio Whoohoo of door Studio Whoohoo ingeschakelde derden in het kader van de opdracht werkzaamheden worden verricht op de locatie van opdrachtgever of een door opdrachtgever aangewezen locatie, draagt opdrachtgever kosteloos zorg voor de door die medewerkers in redelijkheid gewenste faciliteiten.
                </p>

                <h2>Artikel 5: Wijziging van de overeenkomst </h2>
                <p>
                    5.1. Indien tijdens de uitvoering van de overeenkomst blijkt dat het voor een behoorlijke uitvoering noodzakelijk is om de te verrichten werkzaamheden te wijzigen of aan te vullen, zullen partijen tijdig en in onderling overleg de overeenkomst dienovereenkomstig aanpassen. 
                </p>
                <p>
                    5.2. Indien partijen overeenkomen dat de overeenkomst wordt gewijzigd of aangevuld, kan het tijdstip van voltooiing van de uitvoering daardoor worden beïnvloed. Studio Whoohoo zal de opdrachtgever zo spoedig mogelijk hiervan op de hoogte stellen. Bedoelde wijziging of aanvulling van de overeenkomst geeft opdrachtgever geen recht op schadevergoeding. 
                </p>
                <p>
                    5.3. Indien de wijziging van of aanvulling op de overeenkomst financiële en / of kwalitatieve consequenties zal hebben, zal Studio Whoohoo de opdrachtgever hierover tevoren inlichten. Studio Whoohoo is gerechtigd aan opdrachtgever meerkosten in rekening te brengen.
                </p>
                <p>
                    5.4. Indien een vast honorarium is overeengekomen zal Studio Whoohoo daarbij aangeven in hoeverre de wijziging of aanvulling van de overeenkomst een overschrijding van dit honorarium tot gevolg heeft.
                </p>

                <h2>Artikel 6: Contractduur; uitvoeringstermijn </h2>
                <p>
                    6.1. De overeenkomst tussen Studio Whoohoo en een opdrachtgever wordt aangegaan voor onbepaalde tijd, tenzij uit de aard van de overeenkomst anders voortvloeit of partijen uitdrukkelijk en schriftelijk anders overeenkomen. 
                </p>
                <p>
                    6.2. Is binnen de looptijd van de overeenkomst voor de voltooiing van bepaalde werkzaamheden een termijn overeengekomen, dan is dit nimmer een fatale termijn. Bij overschrijding van de uitvoeringstermijn dient de opdrachtgever Studio Whoohoo derhalve schriftelijk in gebreke te stellen.
                </p>
                <p>
                    6.3. De overeenkomst kan - tenzij vast staat dat uitvoering blijvend onmogelijk is - door opdrachtgever niet wegens termijnoverschrijding worden ontbonden, tenzij Studio Whoohoo de overeenkomst ook niet of niet geheel uitvoert binnen een hem na afloop van de overeengekomen leveringstermijn schriftelijk aangezegde redelijke termijn.
                </p>

                <h2>Artikel 7: Opzegging </h2>
                <p>
                    7.1. Ieder van partijen is bevoegd de overeenkomst met inachtneming van een naar de omstandigheden redelijke termijn tegen het einde van een kalendermaand door opzegging te beëindigen, tenzij partijen anders zijn overeengekomen. Opzegging dient schriftelijk te geschieden.
                </p>
                <p>
                    7.2. Indien de overeenkomst tussentijds (in het geval de overeenkomst is aangegaan voor bepaalde tijd) wordt opgezegd door opdrachtgever, heeft Studio Whoohoo recht op schadevergoeding vanwege het daardoor ontstane en aannemelijk te maken bezettingsverlies, tenzij er feiten en omstandigheden aan de opzegging ten grondslag liggen die aan Studio Whoohoo zijn toe te rekenen. Voorts is opdrachtgever alsdan gehouden tot betaling van de declaraties voor tot dan toe verrichte werkzaamheden. 
                </p>
                <p>
                    7.3. Indien de overeenkomst tussentijds wordt opgezegd door Studio Whoohoo, zal Studio Whoohoo in overleg met opdrachtgever zorg dragen voor overdracht van nog te verrichten werkzaamheden aan derden, tenzij er feiten en omstandigheden aan de opzegging ten grondslag liggen die aan opdrachtgever toerekenbaar zijn. 
                </p>
                <p>
                    7.4. Indien de overdracht van de werkzaamheden voor Studio Whoohoo extra kosten met zich meebrengt, is opdrachtgever verplicht deze aan Studio Whoohoo te betalen met <p>inachtneming van hetgeen is gesteld in artikel 8 en 9 van deze algemene voorwaarden.
                </p>

                <h2>Artikel 8: Honorarium </h2>
                <p>
                    8.1. Partijen kunnen bij het tot stand komen van de overeenkomst een vast honorarium overeenkomen. 
                </p>
                <p>
                    8.2. Indien geen vast honorarium wordt overeengekomen, zal het honorarium worden vastgesteld op grond van werkelijk bestede uren. Het honorarium wordt berekend volgens de gebruikelijke uurtarieven van Studio Whoohoo, geldende voor de periode waarin de werkzaamheden worden verricht, tenzij een daarvan afwijkend uurtarief is overeengekomen.
                </p>
                <p>
                    8.3.  Het honorarium en eventuele kostenramingen zijn exclusief BTW.
                </p>
                <p>
                    8.4.  Bij opdrachten met een looptijd van meer dan twee maanden zullen de verschuldigde kosten periodiek in rekening worden gebracht. 
                </p>
                <p>
                    8.5. Indien Studio Whoohoo met de opdrachtgever een vast honorarium of uurtarief overeenkomt, is Studio Whoohoo niettemin gerechtigd tot verhoging van dit honorarium of tarief, bijvoorbeeld in geval van wijziging of aanvulling van de overeenkomst.
 </p>
                <p>
                    8.6. Tevens mag Studio Whoohoo het honorarium verhogen wanneer tijdens de uitvoering van de werkzaamheden blijkt dat de oorspronkelijk overeengekomen dan wel verwachte hoeveelheid werk in zodanige mate onvoldoende werd ingeschat bij het sluiten van de overeenkomst, en zulks niet toerekenbaar is aan Studio Whoohoo, dat in redelijkheid niet van Studio Whoohoo mag worden verwacht de overeengekomen werkzaamheden te verrichten tegen het oorspronkelijk overeengekomen honorarium. Studio Whoohoo zal de opdrachtgever in dat geval van het voornemen tot verhoging van het honorarium of tarief in kennis stellen. Studio Whoohoo zal daarbij de omvang van en de datum waarop de verhoging zal ingaan, vermelden.
                </p>

                <h2>Artikel 9: Betaling</h2>
                <p>
                    9.1. Betaling dient te geschieden binnen 14 dagen na factuurdatum, zonder enige aftrek, korting of verrekening door storting of overmaking op de door Studio Whoohoo aangegeven bank- of girorekening. Bezwaren tegen de hoogte van de declaraties schorten de betalingsverplichting niet op.
                </p>
                <p>
                    9.2. Indien opdrachtgever in gebreke blijft met de betaling binnen de termijn van 14 dagen dan is de opdrachtgever van rechtswege in verzuim. Opdrachtgever is alsdan een rente verschuldigd gelijk aan de geldende wettelijke handelsrente. De rente over het opeisbaar bedrag zal worden berekend vanaf het moment dat opdrachtgever in verzuim is tot het moment van voldoening van het volledige bedrag, waarbij een gedeelte van een maand als volledige maand wordt gerekend.
                </p>
                <p>
                    9.3. In geval van liquidatie, faillissement, beslag of surseance van betaling van de opdrachtgever zijn de vorderingen van Studio Whoohoo op de opdrachtgever onmiddellijk opeisbaar.
                </p>
                <p>
                    9.4. Studio Whoohoo heeft het recht de door opdrachtgever gedane betalingen te laten strekken in de eerste plaats in mindering van de kosten, vervolgens in mindering van de opengevallen rente en tenslotte in mindering van de hoofdsom en de lopende rente. Studio Whoohoo kan, zonder daardoor in verzuim te komen, een aanbod tot betaling weigeren, indien de opdrachtgever een andere volgorde voor de toerekening aanwijst. Studio Whoohoo kan volledige aflossing van de hoofdsom weigeren, indien daarbij niet eveneens de opengevallen en lopende rente alsmede de kosten worden voldaan.
                </p>

                <h2>Artikel 10: Eigendomsvoorbehoud </h2>
                <p>
                    10.1. Alle door Studio Whoohoo geleverde zaken, daaronder eventueel mede begrepen ontwerpen, schetsen, tekeningen, films, software, (elektronische) bestanden, enz., blijven eigendom van Studio Whoohoo totdat de opdrachtgever alle verplichtingen uit alle met Studio Whoohoo gesloten overeenkomsten is nagekomen, dit ter beoordeling van Studio Whoohoo. 
                </p>
                <p>
                    10.2. De opdrachtgever is niet bevoegd de onder het eigendomsvoorbehoud vallende zaken te verpanden noch op enige andere wijze te bezwaren. 
                </p>
                <p>
                    10.3. Indien derden beslag leggen op de onder eigendomsvoorbehoud geleverde zaken dan wel rechten daarop willen vestigen of doen gelden, is opdrachtgever verplicht Studio Whoohoo zo snel als redelijkerwijs verwacht mag worden daarvan op de hoogte te stellen. 
                </p>
                <p>
                    10.4. De opdrachtgever verplicht zich de onder eigendomsvoorbehoud geleverde zaken te verzekeren en verzekerd te houden tegen brand, ontploffings- en waterschade alsmede tegen diefstal en de polis van deze verzekering op eerste verzoek ter inzage te geven. 
                </p>
                <p>
                    10.5. Door Studio Whoohoo geleverde zaken, die krachtens het onder 1. van dit artikel bepaalde onder het eigendomsvoorbehoud vallen, mogen slechts in het kader van een normale bedrijfsuitoefening worden doorverkocht en nimmer als betaalmiddel worden gebruikt. 
                </p>
                <p>
                    10.6. Voor het geval dat Studio Whoohoo zijn in dit artikel aangeduide eigendomsrechten wil uitoefenen, geeft de opdrachtgever reeds nu onvoorwaardelijke en niet herroepbare toestemming aan Studio Whoohoo of door deze aan te wijzen derden om al die plaatsen te betreden waar de eigendommen van Studio Whoohoo zich bevinden en die zaken mede terug te nemen.
                </p>

                <h2>Artikel 11: Incassokosten </h2>
                <p>
                    11.1. Alle in redelijkheid door Studio Whoohoo in verband met de niet- of niet tijdige nakoming door de opdrachtgever van diens betalingsverplichtingen gemaakte gerechtelijke en buitengerechtelijke (incasso-)kosten, zijn voor rekening van de opdrachtgever. 
                </p>
                <p>
                    11.2. Opdrachtgever is over de gemaakte incassokosten rente verschuldigd.
                </p>

                <h2>Artikel 12: Onderzoek, reclames </h2>
                <p>
                    12.1. Klachten over de verrichte werkzaamheden dienen door de opdrachtgever binnen 8 dagen na ontdekking, doch uiterlijk binnen 14 dagen na voltooiing van de betreffende werkzaamheden schriftelijk te worden gemeld aan Studio Whoohoo. De ingebrekestelling dient een zo gedetailleerd mogelijke omschrijving van de tekortkoming te bevatten, zodat Studio Whoohoo in staat is adequaat te reageren. Een reclame schort de betalingsverplichting van opdrachtgever niet op, behoudens voor zover de Studio Whoohoo aan opdrachtgever schriftelijk te kennen heeft gegeven dat deze de reclame (deels) gegrond acht.
                </p>
                <p>
                    12.2. Indien een klacht gegrond is, zal Studio Whoohoo de werkzaamheden alsnog verrichten zoals overeengekomen, tenzij dit inmiddels voor de opdrachtgever aantoonbaar zinloos is geworden. Dit laatste dient door de opdrachtgever schriftelijk kenbaar te worden gemaakt. 
                </p>
                <p>
                    12.3. Indien het alsnog verrichten van de overeengekomen werkzaamheden niet meer mogelijk of zinvol is, kan Studio Whoohoo een gedeelte van het reeds betaalde honorarium terugbetalen zonder verdere uitvoering aan de opdracht te geven en zal Studio Whoohoo in voorkomend geval slechts aansprakelijk kunnen zijn binnen de grenzen van artikel 16.
                </p>

                <h2>Artikel 13: Vervaltermijn </h2>
                <p>
                    13.1 Onverminderd het bepaalde in artikel 12 is opdrachtgever gehouden, indien hij van oordeel is of blijft dat Studio Whoohoo de overeenkomst niet tijdig, niet volledig of niet behoorlijk heeft uitgevoerd, zulks –tenzij dit reeds op grond van het bepaalde in artikel 12.1 is gebeurd- onverwijld schriftelijk aan Studio Whoohoo kenbaar te maken en de daarop gebaseerde aanspraken binnen één jaar na dagtekening van de hiervoor bedoelde kennisgeving, dan wel binnen één jaar, nadat die kennisgeving had behoren te worden gedaan, in rechte geldend te maken, bij gebreke waarvan al zijn rechten en aanspraken te dier zake vervallen door het verstrijken van de hiervoor bedoelde termijn.
                </p>

                <h2>Artikel 14: Opschorting en ontbinding </h2>
                <p>
                    14.1. Studio Whoohoo is bevoegd de nakoming van de verplichtingen op te schorten of de overeenkomst te ontbinden, indien:
                </p>
                <ul>
                    <li>Opdrachtgever de verplichtingen uit de overeenkomst niet of niet volledig nakomt.</li>
                    <li>Na het sluiten van de overeenkomst Studio Whoohoo ter kennis gekomen omstandigheden goede grond geven te vrezen dat de opdrachtgever de verplichtingen niet zal nakomen. In geval er goede grond bestaat te vrezen dat de opdrachtgever slechts gedeeltelijk of niet behoorlijk zal nakomen, is de opschorting slechts toegelaten voor zover de tekortkoming haar rechtvaardigt.</li>
                    <li>Opdrachtgever bij het sluiten van de overeenkomst verzocht is zekerheid te stellen voor de voldoening van zijn verplichtingen uit de overeenkomst en deze zekerheid uitblijft of onvoldoende is.</li>
                </ul>
                <p>
                    14.2. Voorts is Studio Whoohoo bevoegd de overeenkomst te (doen) ontbinden indien zich omstandigheden voordoen welke van dien aard zijn dat nakoming van de overeenkomst onmogelijk of naar maatstaven van redelijkheid en billijkheid niet langer kan worden gevergd dan wel indien zich anderszins omstandigheden voordoen welke van dien aard zijn dat ongewijzigde instandhouding van de overeenkomst in redelijkheid niet mag worden verwacht.
                </p>
                <p>
                    14.3. Indien de overeenkomst wordt ontbonden zijn de vorderingen van Studio Whoohoo op de opdrachtgever onmiddellijk opeisbaar. Indien Studio Whoohoo de nakoming van zijn verplichtingen opschort, behoudt hij zijn aanspraken uit de wet en overeenkomst. 
                </p>
                <p>
                    14.4. Studio Whoohoo behoudt steeds het recht schadevergoeding te vorderen.
                </p>

                <h2>Artikel 15: Teruggave ter beschikking gestelde zaken </h2>
                <p>
                    15.1. Indien Studio Whoohoo aan opdrachtgever bij de uitvoering van de overeenkomst zaken ter beschikking heeft gesteld is opdrachtgever gehouden het geleverde op eerste verzoek van Studio Whoohoo binnen 14 dagen in oorspronkelijke staat, vrij van gebreken en volledig te retourneren. 
                </p>
                <p>
                    15.2. Indien opdrachtgever in gebreke blijft met de onder 1. genoemde verplichting tot teruggave, is opdrachtgever verplicht de daaruit voortvloeiende schade en kosten, waaronder de kosten van vervanging, aan Studio Whoohoo te vergoeden.
                </p>

                <h2>Artikel 16: Aansprakelijkheid </h2>
                <p>
                    16.1. Indien Studio Whoohoo aansprakelijk mocht zijn, dan is deze aansprakelijkheid beperkt tot hetgeen in deze bepaling is geregeld. 
                </p>
                <p>
                    16.2 De aansprakelijkheid van Studio Whoohoo voor schade van de opdrachtgever, welke is veroorzaakt door niet tijdige, niet volledige of niet behoorlijke uitvoering van de opdracht, is beperkt tot maximaal tweemaal het bedrag van het honorarium, dat door Studio Whoohoo aan de opdrachtgever in rekening is gebracht voor het verrichten van de werkzaamheden waarin de oorzaak van de schade is gelegen, met dien verstande dat daarbij alleen het honorarium in aanmerking wordt genomen dat betrekking heeft op de laatste maand waarin die werkzaamheden zijn verricht. De eventueel door Studio Whoohoo aan de opdrachtgever verschuldigde schadevergoeding zal echter nimmer hoger zijn dan het bedrag waarvoor de aansprakelijkheid van Studio Whoohoo in voorkomend geval door verzekering is gedekt, althans tot maximaal het bedrag van euro 2.500.000,= voor zover bedoelde verzekering in voorkomend geval geen dekking zou verlenen. Het voorgaande lijdt uitzondering ingeval van opzet of daarmee gelijk te stellen grove onzorgvuldigheid van Studio Whoohoo. Onder Studio Whoohoo zijn in deze en de volgende bepalingen van dit artikel mede begrepen zijn werknemers alsmede eventuele door hem bij de uitvoering van de opdracht ingeschakelde derden. 
                </p>
                <p>
                    16.3 Studio Whoohoo is niet aansprakelijk voor schade, welke is veroorzaakt doordat de opdrachtgever niet heeft voldaan aan zijn uit artikel 4.3 voortvloeiende informatieverplichting of doordat de door opdrachtgever verstrekte informatie niet voldoet aan hetgeen waarvoor hij krachtens artikel 4.5 instaat, tenzij deze schade mede is veroorzaakt door opzet of daarmee gelijkt te stellen grove onzorgvuldigheid van Studio Whoohoo. 
                </p>
                <p>
                    16.4 Studio Whoohoo is voorts niet aansprakelijk voor schade, welke is veroorzaakt door handelen of nalaten van door opdrachtgever bij de uitvoering van de opdracht betrokken derden, tenzij die schade mede is veroorzaakt door opzet of daarmee gelijk te stellen grove onzorgvuldigheid van Studio Whoohoo. 
                </p>
                <p>
                    16.5 Studio Whoohoo is overigens steeds bevoegd de schade van de opdrachtgever zoveel mogelijk te beperken of ongedaan te maken, waartoe opdrachtgever alle medewerking zal verlenen. 
                </p>
                <p>
                    16.6 Studio Whoohoo is nimmer aansprakelijk voor indirecte schade, daaronder begrepen gevolgschade, gederfde winst, gemiste besparingen en schade door bedrijfsstagnatie. Het voorgaande lijdt uitzondering ingeval van opzet of daarmee gelijk te stellen grove onzorgvuldigheid van Studio Whoohoo.
                </p>

                <h2>Artikel 17: Vrijwaringen </h2>
                <p>
                    17.1. De opdrachtgever vrijwaart Studio Whoohoo voor aanspraken van derden met betrekking tot rechten van intellectuele eigendom op door de opdrachtgever verstrekte materialen of gegevens, die bij de uitvoering van de overeenkomst worden gebruikt. 
                </p>
                <p>
                    17.2. Indien opdrachtgever aan Studio Whoohoo informatiedragers, elektronische bestanden of software etc. verstrekt, garandeert deze dat de informatiedragers, elektronische bestanden of software vrij zijn van virussen en defecten. 
                </p>
                <p>
                    17.3 Opdrachtgever vrijwaart Studio Whoohoo voor aanspraken van derden ter zake van schade, welke verband houdt met of voortvloeit uit de door Studio Whoohoo uitgevoerde opdracht, indien en voor zover Studio Whoohoo daarvoor krachtens het bepaalde in artikel 16 niet jegens de opdrachtgever aansprakelijk is.
                </p>

                <h2>Artikel 18: Risico-overgang </h2>
                <p>
                    18.1. Het risico van verlies of beschadiging van de zaken die voorwerp van de overeenkomst zijn, gaat op opdrachtgever over op het moment waarop deze aan opdrachtgever juridisch en/of feitelijk worden geleverd en daarmee in de macht van opdrachtgever of van een door opdrachtgever aan te wijzen derden worden gebracht.
                </p>

                <h2>Artikel 19: Overmacht </h2>
                <p>
                    19.1. Partijen zijn niet gehouden tot het nakomen van enige verplichting, indien zij daartoe gehinderd worden als gevolg van een omstandigheid die niet is te wijten aan schuld, en noch krachtens de wet, een rechtshandeling of in het verkeer geldende opvattingen voor hun rekening komt. 
                </p>
                <p>
                    19.2. Onder overmacht wordt in deze algemene voorwaarden verstaan naast hetgeen daaromtrent in de wet en jurisprudentie wordt begrepen, alle van buiten komende oorzaken, voorzien of niet voorzien, waarop Studio Whoohoo geen invloed kan uitoefenen, doch waardoor Studio Whoohoo niet in staat is de verplichtingen na te komen. Werkstakingen in het bedrijf van Studio Whoohoo worden daaronder begrepen. 
                </p>
                <p>
                    19.3. Studio Whoohoo heeft ook het recht zich op overmacht te beroepen, indien de omstandigheid die (verdere) nakoming verhindert, intreedt nadat Studio Whoohoo zijn verplichtingen had moeten nakomen. 
                </p>
                <p>
                    19.4. Partijen kunnen gedurende de periode dat de overmacht voortduurt de verplichtingen uit de overeenkomst opschorten. Indien deze periode langer duurt dan twee maanden is ieder der partijen gerechtigd de overeenkomst te ontbinden, zonder verplichting tot vergoeding van schade aan de andere partij. 
                </p>
                <p>
                    19.5. Voor zoveel Studio Whoohoo ten tijde van het intreden van overmacht inmiddels gedeeltelijk zijn verplichtingen uit de overeenkomst is nagekomen of deze zal kunnen nakomen, en aan het nagekomen respectievelijk na te komen gedeelte zelfstandige waarde toekomt, is Studio Whoohoo gerechtigd om het reeds nagekomen respectievelijk na te komen gedeelte separaat te declareren. Opdrachtgever is gehouden deze declaratie te voldoen als ware het een afzonderlijke overeenkomst.
                </p>

                <h2>Artikel 20: Geheimhouding </h2>
                <p>
                    20.1. Beide partijen zijn verplicht tot geheimhouding van alle vertrouwelijke informatie die zij in het kader van hun overeenkomst van elkaar of uit andere bron hebben verkregen. Informatie geldt als vertrouwelijk als dit door de andere partij is medegedeeld of als dit voortvloeit uit de aard van de informatie.
                </p>
                <p>
                    20.2. Indien, op grond van een wettelijke bepaling of een rechterlijke uitspraak, Studio Whoohoo gehouden is vertrouwelijke informatie aan door de wet of de bevoegde rechter aangewezen derden mede te verstrekken, en Studio Whoohoo zich ter zake niet kan beroepen op een wettelijk dan wel door de bevoegde rechter erkend of toegestaan recht van verschoning, dan is Studio Whoohoo niet gehouden tot schadevergoeding of schadeloosstelling en is de wederpartij niet gerechtigd tot ontbinding van de overeenkomst op grond van enige schade, hierdoor ontstaan.
                </p>

                <h2>Artikel 21: Intellectuele eigendom en auteursrechten </h2>
                <p>
                    21.1. Onverminderd het overigens in deze algemene voorwaarden bepaalde behoudt Studio Whoohoo zich de rechten en bevoegdheden voor die Studio Whoohoo toekomen op grond van de Auteurswet. 
                </p>
                <p>
                    21.2. Alle door Studio Whoohoo verstrekte stukken, zoals rapporten, adviezen, overeenkomsten, ontwerpen, schetsen, tekeningen, films, software enz., zijn uitsluitend bestemd om te worden gebruikt door de opdrachtgever en mogen niet door hem zonder voorafgaande toestemming van Studio Whoohoo worden verveelvoudigd, openbaar gemaakt, of ter kennis van derden gebracht, tenzij uit de aard van de verstrekte stukken anders voortvloeit. 
                </p>
                <p>
                    21.3. Studio Whoohoo behoudt het recht de door de uitvoering van de werkzaamheden toegenomen kennis voor andere doeleinden te gebruiken, voor zover hierbij geen vertrouwelijke informatie ter kennis van derden wordt gebracht.
                </p>

                <h2>Artikel 22: Niet-overname personeel </h2>
                <p>
                    22.1. De opdrachtgever zal gedurende de looptijd van de overeenkomst alsmede één jaar na beëindiging daarvan, op generlei wijze, behoudens nadat goed zakelijk overleg ter zake heeft plaatsgehad met Studio Whoohoo, medewerkers van Studio Whoohoo of van ondernemingen waarop Studio Whoohoo ter uitvoering van deze overeenkomst beroep heeft gedaan en die betrokken zijn (geweest) bij de uitvoering van de overeenkomst, in dienst nemen dan wel anderszins, direct of indirect, voor zich laten werken.
                </p>

                <h2>Artikel 23: Geschillen </h2>
                <p>
                    23.1. De rechter in de vestigingsplaats van Studio Whoohoo is bij uitsluiting bevoegd van geschillen kennis te nemen, tenzij bepalingen van dwingend recht anders voorschrijven. 
                </p>
                <p>
                    23.2. Partijen zullen eerst een beroep op de rechter doen nadat zij zich tot het uiterste hebben ingespannen een geschil in onderling overleg te beslechten.
                </p>

                <h2>Artikel 24: Toepasselijk recht </h2>
                <p>
                    24.1. Alle rechtsverhoudingen tussen Studio Whoohoo en de opdrachtgever waarop deze algemene voorwaarden van toepassing zijn, worden beheerst door Nederlands recht. Het Weens Koopverdrag is uitdrukkelijk uitgesloten.
                </p>

                <h2>Artikel 25: Vindplaats van de voorwaarden </h2>
                <p>
                    25.1. Deze voorwaarden zijn gedeponeerd ten kantore van de Kamer van Koophandel te Haarlem onder nummer 58545409. 
                </p>
                <p>
                    25.2. Van toepassing is steeds de laatst gedeponeerde versie c.q. de versie zoals die gold ten tijde van het tot stand komen van de overeenkomst.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
