/*---------------------------------------------------------------------
[Master Stylesheet]

Project:    Studio WhooHoo
Version:    1.1
---------------------------------------------------------------------*/
IMG = "../img"
CSS = "css"

@import "stylus/reset.styl"
@import "stylus/mixins.styl"
@import "stylus/colors.styl"
@import "stylus/typography.styl"
@import "stylus/icons.styl"

//
// BASIC LAYOUT
//
footer_height = 150px

html
    position: relative
    min-height: 100%

body
    margin: 0 0 footer_height
    background: #272727
    color: #fff

footer
    height: footer_height
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
    background: #272727 url(IMG/pattern_stripes.png)
    text-align: center
    overflow: hidden
    font-size: 12px
    .diamonds
        position: absolute
        left: 0
        bottom: 0
        height: 150px
        width: 268px
        background: url(IMG/diamonds.png) no-repeat
    .logo
        display: inline-block
        padding: 10px 20px 0
        img
            border: 0
    .block
        display: inline-block
        vertical-align: top
        padding: 30px 20px 0
        height: footer_height - 45px
        text-align: left
        background: url(IMG/footer-seperator.png) left center no-repeat
        position: relative
        .navglow
            display: none
            position: absolute
            z-index: 100
            background: url(IMG/nav-glow.png)
            background-size: 100% 14px
            width: 200%
            height: 14px
            margin-left: auto
            margin-right: auto
            left: -50%
            right: -50%
            top: -6px
    .icon48
        margin-right: 5px

div.container
    max-width: 1000px;
    width: 90%
    margin: 0 auto
    overflow: hidden

.content
    background: #272727 url(IMG/pattern_stripes.png)
    font-size: 13px
    padding: 20px 0
    h1:first-child
        border-bottom: 1px solid #565656
        margin-bottom: 20px

.float-left
    float: left

.float-right
    float: right
//
// RANDOM
//
.icon-label
    overflow: hidden
    padding: 0 0 5px 0
    .icon16
        float: left
        margin-right: 10px
    .iconlabel
        float: left

.clear
    clear:both
//
// BACKGROUND CONTENT
//
#background
    position: fixed
    top: 0
    left: 0
    z-index: -1
    #grain
        position: relative
        height: 100%
        background: url(IMG/pattern_dots.png)
        z-index: 3
    #media
        height: inherit
        width: inherit
        position: absolute
        z-index: 2
        overflow: hidden
        div
            position: fixed
            z-index: -1
            top: 0
            left: 0
            height: 100%
            width: 100%
//
// HEADER AND NAVIGATION
//
header .logo
    display: block
    position: absolute
    left: 5%
    z-index: 50
    width: 200px
    img
        border: 0
        display: block
    img#logo-collapsed
        padding: 5px 0 0 0
        position: relative
    img#logo-expanded
        position: absolute
        top: -215px

nav_height = 50px
nav.main
    background: rgba(39,39,39,0.5)
    .mobilenav
        display: none
    ul
        margin: 0 auto
        padding: 0
        list-style-type: none
        text-align: center
        display: block
        li
            display: inline-block
            a
                width: 150px
                display: block
                height: nav_height
                position: relative
                text-decoration: none
                .navitem
                    font-size: 16px
                    text-align: center
                    display: block
                    line-height: nav_height
                    color: #fff
                    position: relative
                .navlabel
                    display: block
                    height: inherit
                    position: absolute
                    width: 100%
                    top: -1 * nav_height
                    background: rgba(36,82,129,0.8) url(IMG/nav-diamonds.png);
                .navglow
                    display: none
                    position: absolute
                    z-index: 100
                    background: url(IMG/nav-glow.png)
                    background-size: 100% 18px
                    width: 240%
                    height: 18px
                    margin-left: auto
                    margin-right: auto
                    left: -70%
                    right: -70%
                    bottom: -9px
            a.selected
                .navlabel
                    top: 0
                .navglow
                    display: block

a.portfolio, a.reel, a.about
    background: url(IMG/nav-seperator.png) right bottom no-repeat

navw = 150px
nav.main
    a.portfolio .navlabel
        background-position: 0 0
    a.reel .navlabel
        background-position: navw*-1 0
    a.about .navlabel
        background-position: navw*-2 0
    a.contact .navlabel
        background-position: navw*-3 0
//
// HOME
//
#newsfeed
    background: rgba(39,39,39,0.5)
    width: 400px
    float: right
    border-box()
    padding: 20px
    .project-thumbnail
        margin-bottom: 1.5em
    h1
        background: url(IMG/news-seperator.png) left bottom no-repeat
        padding-bottom: 0.5em
    p
        margin-bottom: 0.5em

hr.news
    border: 0
    height: 2px
    width: 277px
    margin: 0.5em 0 0.25em
    background: url(IMG/news-seperator.png)
//
// PORTFOLIO
//
.portfolio-wrapper
    overflow: hidden
    .project-thumbnail
        float: left
        margin: 1.5em

.project-thumbnail
    display: block
    float: left
    text-align: center
    box-shadow(0 1px 8px 1px rgba(0,0,0,0.5))
    border: 1px solid rgba(255,255,255,0.35)
    color: #fff
    text-decoration: none
    .title
        padding: 5px 0
        background: #272727 url(IMG/pattern_stripes.png)
    img
        display: block
        border-bottom: 1px solid rgba(255,255,255,0.35)
.project-thumbnail:hover .title
    background: $MAIN
    color: #fff
.project-thumbnail:hover,
.project-thumbnail:visited
    text-decoration: none
    color: #fff

nav.filters
    background: rgba(39,39,39,0.5)
    float: left
    margin: 30px 0
    ul
        margin: 0
        padding: 0 0 0 25px
        list-style-type: none
        li
            float: left
            margin-right: 2px
            a
                display: block
                padding: 5px 20px
                text-transform: capitalize
                text-decoration: none
                color: #fff
                border-bottom: 1px solid rgba(0,0,0,0)
            a:hover,
            a.selected
                color: #fff
                background: $MAIN
                border-bottom: 1px solid #fff
//
// PROJECT
//
.videoplayer
    position: relative;
    padding-bottom: 53.0%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    margin: 20px 0
    height: 0;
    overflow: hidden;
    border: 2px solid #565656
    iframe
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

.video-placeholder
    margin: 20px 0
    border: 2px solid #565656
    img
        width: 100%
        height: auto
        display: block

.project_description
    width: 30%
    float: right

.project_description.full
    width: 100%
    float: none

.project_stills
    width: 70%
    float: left
    a
        float: left
        display: block
        width: 46%
        margin: 0 4% 4% 0
        img
            border: 1px solid #fff
            border-box()
            display: block
            width: 100%

.project_carousel
    height: 150px
    border-top: 1px solid #6c6c6c
    background: #111
    margin-bottom: -20px
    overflow: hidden
    a.item
        display: block
    img
        border-right: 1px solid #3a3c42

#slider .flex-direction-nav a
    color: $MAIN
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    opacity: 1
    //text-shadow: 1px 1px 0 rgba(255,255,255,0.3);

.content .project_date
    position: relative
    top: -20px
//
// REEL
//
.reelbox, .clientbox
    width: 50%
    padding: 0 4% 0 0
    border-box()
    float: left

.logobox
    width: 150px
    height: 75px
    float: left
    text-align: center

.clientlist li
    float: left
    min-width: 200px
//
// ABOUT
//
.about-thumbnail
    width: 33.33%
    float: left
    overflow: hidden
    display: block
    position: relative
    color: #fff
    .info
        width: 100%
        margin: 20px auto
        padding: 10px
        border-box()
        background: rgba(0,0,0,0.4)
        text-shadow: 0 1px 1px rgba(0,0,0,0.8);
        text-align: center
        position: absolute
        bottom: 0
        z-index: 3
        line-height: 2em
        .name
            font-size: 30px
        .job-title
            font-size: 18px
            margin-bottom: 0
    img
        position: absolute
        z-index: 2
        height: 100%
        width: 100%
    video
        position: absolute
        z-index: 1
        height: 100%
        width: 100%
//
// ABOUT PROFILE
//
.profile-cover
    height: 300px

.profile-sidebar
    width: 230px
    padding-right: 20px
    float: left

.profile-content
    margin: 0 0 0 250px

a.social
    padding-left: 26px
a.social.e-mail
        background: url(IMG/social/email-16x16.png) left center no-repeat
a.social.facebook
        background: url(IMG/social/facebook-16x16.png) left center no-repeat
a.social.googleplus
        background: url(IMG/social/googleplus-16x16.png) left center no-repeat
a.social.twitter
        background: url(IMG/social/twitter-16x16.png) left center no-repeat
a.social.instagram
        background: url(IMG/social/instagram-16x16.png) left center no-repeat
a.social.linkedin
        background: url(IMG/social/linkedin-16x16.png) left center no-repeat
a.social.vimeo
        background: url(IMG/social/vimeo-16x16.png) left center no-repeat
a.social.youtube
        background: url(IMG/social/youtube-16x16.png) left center no-repeat
a.social.website
        background: url(IMG/social/website-16x16.png) left center no-repeat
//
// CONTACT
//
.contact-panes
    background: #202020
    margin-top: 15%

.contact-pane
    width: 33.33%
    float: left
    height: 300px
    padding: 20px
    border-box()

.contact-pane.bglight
    background: #272727

.contact-travel
    margin: 0
    padding: 0
    list-style-type: none
    li
        margin: 0
        overflow: hidden
        .icon48
            float: left
            margin: 0 10px 25px 0
        .iconlabel
            display: block
            padding: 5px 0
//
// MOBILE
//
@media not screen and (min-width: 1000px)
    .container
        min-width: 0
    footer_height = 290px
    body
        margin: 0 0 footer_height
    footer
        height: 250px
        padding: 20px 0
        .diamonds
            display: none
        .logo
            display: none
        .block
            height: auto
            display: block
            padding: 0
            background: none
            .icon-label
                padding: 0 0 10px 0
    nav.main
        .mobilenav
            display: block
            overflow: auto
            #togglenav
                height: nav_height
                width: nav_height
                background-color: transparent
                background: url(IMG/nav-icon.svg) no-repeat 50% 50%
                background-size: 75% auto;
                -webkit-background-size: auto auto;
                float: right
                cursor: pointer
        ul
            float: none
            display: none
            li
                float: none
                display: block
                width: auto
                a
                    width: auto
                    padding: 0 20px
                    background: rgba(255,255,255,0.05)
                    .navlabel, .navglow
                        display: none
                    .navitem
                        text-align: left
                    .navitem:before
                        content: "\203A\00a0"
                a:hover
                    background: rgba(255,255,255,0.1)
                a.selected .navglow
                    display: none
    #background #grain
        background: none
//
// MOBILE HOME
//
@media not screen and (min-width: 1000px)
    #media
        video
            display: none
    #newsfeed
        width: auto
        float: none
        .project-thumbnail
            float: none
            img
                width: 100%
                height: auto
//
// MOBILE PORTFOLIO
//
@media not screen and (min-width: 1000px)
    .portfolio-wrapper
        overflow: hidden
        .project-thumbnail
            float: none
            img
                width: 100%
                height: auto
//
// MOBILE PROJECT
//
@media not screen and (min-width: 1000px)
    .project_description, .project_stills
        width: auto
        float: none
//
// MOBILE REEL
//
@media not screen and (min-width: 1000px)
    .reelbox, .clientbox
        width: auto
        padding: 0
        float: none
//
// MOBILE ABOUT
//
@media not screen and (min-width: 1000px)
    .about-thumbnail
        width: auto
        float: none
        .info
            .name
                font-size: 2em
            .job-title
                font-size: 18px
                margin-bottom: 0
        video
            display: none
//
// MOBILE ABOUT PROFILE
//
@media not screen and (min-width: 1000px)
    .profile-cover
        display: none
    .profile-sidebar
        width: auto
        padding-right: 0
        float: none
    .profile-content
        margin: 0
//
// MOBILE PROFILE
//
@media not screen and (min-width: 1000px)
    .profile-sidebar
        width: auto
        padding: 0
        float: none
    .profile-content
        margin: 0
//
// MOBILE CONTACT
//
@media not screen and (min-width: 1000px)
    .contact-pane
        width: auto
        float: none
        height: auto
