html{margin:0;padding:0;border:0}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1.5;background:#fff}
table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal;float:none !important}
table,th,td{vertical-align:middle}
blockquote:before,blockquote:after,q:before,q:after{content:''}
blockquote,q{quotes:"" ""}
a img{border:none}
:focus{outline:0}
.orange-text{color:#f78f1e}
.darkblue-text{color:#405969}
.lightgray-text{color:#999}
.lightergray-text{color:#ccc}
.gray-text{color:#666}
.darkgray-text{color:#333}
.red-text{color:#f00}
.darkred-text{color:#600}
.green-text{color:#093}
.darkgreen-text{color:#071}
.darkpurple-text{color:#309}
.highlight{color:#245281}
html{font-size:81.25%}
body{font-family:'Monda',sans-serif;line-height:1.65;color:rgba(255,255,255,0.9)}
h1,h2,h3,h4,h5,h6{font-weight:400;line-height:1;margin-top:0;color:rgba(255,255,255,0.9)}
h1,.alpha{font-size:24px;font-size:1.846rem;margin-bottom:11.61875px;margin-bottom:.89375rem}
h2,.beta{font-size:20px;font-size:1.538rem;margin-bottom:13.9425px;margin-bottom:1.0725rem}
h3,.gamma{font-size:16px;font-size:1.23rem;margin-bottom:17.428125px;margin-bottom:1.340625rem}
h4,.delta{font-size:13px;font-size:1rem;margin-bottom:21.45px;margin-bottom:1.65rem}
p{margin:0 0 1em;text-align:justify}
p .left{margin:1.5em 1.5em 1.5em 0;padding:0}
p .right{margin:1.5em 0 1.5em 1.5em;padding:0}
a{color:#008aff;text-decoration:none}
a:visited{color:#008aff}
a:hover{color:#fff;text-decoration:underline}
a:active{color:#f00}
footer a,footer a:hover,footer a:visited{color:#666}
.smallest{font-size:70%}
.smaller{font-size:75%}
.small{font-size:80%}
.large{font-size:100%}
.larger{font-size:112.5%}
.largest{font-size:140%}
.strong{font-weight:bold}
.cursive{font-style:italic}
.align-left{text-align:left}
.align-center{text-align:center}
.align-right{text-align:right}
ul,ol{margin:0 1.5em 1.5em 0;padding-left:1.5em}
li ul,li ol{margin:0}
dl{margin:0 0 1.5em 0}
dl dt{font-weight:bold}
dd{margin:0}
.unlist{margin:0;padding:0;list-style-type:none}
ul.tag-cloud{margin:0;padding:0;}
ul.tag-cloud li{display:inline;padding-right:1em;white-space:nowrap;font-size:.85em}
table.sandy{border:1px solid #dbceac;width:100%;margin-bottom:1em;}
table.sandy thead tr{background-color:#eee;background:-webkit-linear-gradient(top,#e9e2cd 0%,#dbceac 100%);background:-moz-linear-gradient(top,#e9e2cd 0%,#dbceac 100%);background:-ms-linear-gradient(top,#e9e2cd 0%,#dbceac 100%);background:-o-linear-gradient(top,#e9e2cd 0%,#dbceac 100%);background:linear-gradient(top,#e9e2cd 0%,#dbceac 100%)}
table.sandy th{font-weight:bold;text-align:left}
table.sandy th,table.sandy td{border-bottom:1px solid #dbceac;vertical-align:top;padding:5px;color:#333}
table.sandy tbody tr{background:#e6ddc5}
table.sandy tbody tr:nth-child(even){background:#ede7d5}
table.sandy tbody tr:last-child th,table.sandy tbody tr:last-child td{border-bottom:0}
table.sandy tbody tr.selected{background:rgba(255,255,255,0.9)}
table.sandy tbody tr:hover{background:#f4f0e6}
strong,dfn{font-weight:bold}
em,dfn{font-style:italic}
sup,sub{line-height:0}
abbr,acronym{border-bottom:1px dotted #666}
blockquote{font-family:Georgia,serif;font-style:italic;color:#444;margin-bottom:1em}
blockquote:before{content:"\201C"}
blockquote:after{content:"\201D"}
pre{white-space:pre}
code{display:block;border:1px dashed rgba(128,128,128,0.9);background-color:#f1f1f1;margin:1em 0;padding:1em;font-family:monospace,Courier;font-size:.85em}
address{font-style:italic}
del{text-decoration:line-through;color:#666}
.no-data{margin:0;text-align:center;font-style:italic;font-size:.85em;color:#666}
.metadata{font-size:.85em;color:#666}
.icon16{display:block;width:16px;height:16px;background:url("../img/sprite_icon16.png") no-repeat;}
.icon16 a{display:block;height:16px}
.icon48{display:block;width:48px;height:48px;background:url("../img/sprite_icon48.png") no-repeat;}
.icon48 a{display:block;height:48px;text-indent:-9999px}
.iconified{position:relative;padding-left:26px;}
.iconified .icon{position:absolute;left:0;top:1px}
.icon16.phone{background-position:0 0}
.icon16.mail{background-position:0 -16px}
.icon16.house{background-position:0 -32px}
.icon16.book{background-position:0 -48px}
.icon16.papers{background-position:0 -64px}
.icon16.empty{background-position:0 -80px}
.icon48.vimeo{background-position:0 0}
.icon48.facebook{background-position:0 -48px}
.icon48.gmaps{background-position:0 -96px}
.icon48.car{background-position:0 -144px}
.icon48.train{background-position:0 -192px}
.icon48.helicopter{background-position:0 -240px}
.icon48.vimeo:hover{background-position:-48px 0}
.icon48.facebook:hover{background-position:-48px -48px}
.icon48.gmaps:hover{background-position:-48px -96px}
html{position:relative;min-height:100%}
body{margin:0 0 150px;background:#272727;color:#fff}
footer{height:150px;position:absolute;left:0;bottom:0;width:100%;background:#272727 url("../img/pattern_stripes.png");text-align:center;overflow:hidden;font-size:12px;}
footer .diamonds{position:absolute;left:0;bottom:0;height:150px;width:268px;background:url("../img/diamonds.png") no-repeat}
footer .logo{display:inline-block;padding:10px 20px 0;}
footer .logo img{border:0}
footer .block{display:inline-block;vertical-align:top;padding:30px 20px 0;height:105px;text-align:left;background:url("../img/footer-seperator.png") left center no-repeat;position:relative;}
footer .block .navglow{display:none;position:absolute;z-index:100;background:url("../img/nav-glow.png");background-size:100% 14px;width:200%;height:14px;margin-left:auto;margin-right:auto;left:-50%;right:-50%;top:-6px}
footer .icon48{margin-right:5px}
div.container{max-width:1000px;width:90%;margin:0 auto;overflow:hidden}
.content{background:#272727 url("../img/pattern_stripes.png");font-size:13px;padding:20px 0;}
.content h1:first-child{border-bottom:1px solid #565656;margin-bottom:20px}
.float-left{float:left}
.float-right{float:right}
.icon-label{overflow:hidden;padding:0 0 5px 0;}
.icon-label .icon16{float:left;margin-right:10px}
.icon-label .iconlabel{float:left}
.clear{clear:both}
#background{position:fixed;top:0;left:0;z-index:-1;}
#background #grain{position:relative;height:100%;background:url("../img/pattern_dots.png");z-index:3}
#background #media{height:inherit;width:inherit;position:absolute;z-index:2;overflow:hidden;}
#background #media div{position:fixed;z-index:-1;top:0;left:0;height:100%;width:100%}
header .logo{display:block;position:absolute;left:5%;z-index:50;width:200px;}
header .logo img{border:0;display:block}
header .logo img#logo-collapsed{padding:5px 0 0 0;position:relative}
header .logo img#logo-expanded{position:absolute;top:-215px}
nav.main{background:rgba(39,39,39,0.5);}
nav.main .mobilenav{display:none}
nav.main ul{margin:0 auto;padding:0;list-style-type:none;text-align:center;display:block;}
nav.main ul li{display:inline-block;}
nav.main ul li a{width:150px;display:block;height:50px;position:relative;text-decoration:none;}
nav.main ul li a .navitem{font-size:16px;text-align:center;display:block;line-height:50px;color:#fff;position:relative}
nav.main ul li a .navlabel{display:block;height:inherit;position:absolute;width:100%;top:-50px;background:rgba(36,82,129,0.8) url("../img/nav-diamonds.png")}
nav.main ul li a .navglow{display:none;position:absolute;z-index:100;background:url("../img/nav-glow.png");background-size:100% 18px;width:240%;height:18px;margin-left:auto;margin-right:auto;left:-70%;right:-70%;bottom:-9px}
nav.main ul li a.selected .navlabel{top:0}
nav.main ul li a.selected .navglow{display:block}
a.portfolio,a.reel,a.about{background:url("../img/nav-seperator.png") right bottom no-repeat}
nav.main a.portfolio .navlabel{background-position:0 0}
nav.main a.reel .navlabel{background-position:-150px 0}
nav.main a.about .navlabel{background-position:-300px 0}
nav.main a.contact .navlabel{background-position:-450px 0}
#newsfeed{background:rgba(39,39,39,0.5);width:400px;float:right;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:20px;}
#newsfeed .project-thumbnail{margin-bottom:1.5em}
#newsfeed h1{background:url("../img/news-seperator.png") left bottom no-repeat;padding-bottom:.5em}
#newsfeed p{margin-bottom:.5em}
hr.news{border:0;height:2px;width:277px;margin:.5em 0 .25em;background:url("../img/news-seperator.png")}
.portfolio-wrapper{overflow:hidden;}
.portfolio-wrapper .project-thumbnail{float:left;margin:1.5em}
.project-thumbnail{display:block;float:left;text-align:center;-webkit-box-shadow:0 1px 8px 1px rgba(0,0,0,0.5);-moz-box-shadow:0 1px 8px 1px rgba(0,0,0,0.5);box-shadow:0 1px 8px 1px rgba(0,0,0,0.5);border:1px solid rgba(255,255,255,0.35);color:#fff;text-decoration:none;}
.project-thumbnail .title{padding:5px 0;background:#272727 url("../img/pattern_stripes.png")}
.project-thumbnail img{display:block;border-bottom:1px solid rgba(255,255,255,0.35)}
.project-thumbnail:hover .title{background:#245281;color:#fff}
.project-thumbnail:hover,.project-thumbnail:visited{text-decoration:none;color:#fff}
nav.filters{background:rgba(39,39,39,0.5);float:left;margin:30px 0;}
nav.filters ul{margin:0;padding:0 0 0 25px;list-style-type:none;}
nav.filters ul li{float:left;margin-right:2px;}
nav.filters ul li a{display:block;padding:5px 20px;text-transform:capitalize;text-decoration:none;color:#fff;border-bottom:1px solid rgba(0,0,0,0)}
nav.filters ul li a:hover,nav.filters ul li a.selected{color:#fff;background:#245281;border-bottom:1px solid #fff}
.videoplayer{position:relative;padding-bottom:53%;padding-top:30px;margin:20px 0;height:0;overflow:hidden;border:2px solid #565656;}
.videoplayer iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.video-placeholder{margin:20px 0;border:2px solid #565656;}
.video-placeholder img{width:100%;height:auto;display:block}
.project_description{width:30%;float:right}
.project_description.full{width:100%;float:none}
.project_stills{width:70%;float:left;}
.project_stills a{float:left;display:block;width:46%;margin:0 4% 4% 0;}
.project_stills a img{border:1px solid #fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;width:100%}
.project_carousel{height:150px;border-top:1px solid #6c6c6c;background:#111;margin-bottom:-20px;overflow:hidden;}
.project_carousel a.item{display:block}
.project_carousel img{border-right:1px solid #3a3c42}
#slider .flex-direction-nav a{color:#245281;text-shadow:-1px 0 #fff,0 1px #fff,1px 0 #fff,0 -1px #fff;opacity:1}
.content .project_date{position:relative;top:-20px}
.reelbox,.clientbox{width:50%;padding:0 4% 0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left}
.logobox{width:150px;height:75px;float:left;text-align:center}
.clientlist li{float:left;min-width:200px}
.about-thumbnail{width:33.33%;float:left;overflow:hidden;display:block;position:relative;color:#fff;}
.about-thumbnail .info{width:100%;margin:20px auto;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:rgba(0,0,0,0.4);text-shadow:0 1px 1px rgba(0,0,0,0.8);text-align:center;position:absolute;bottom:0;z-index:3;line-height:2em;}
.about-thumbnail .info .name{font-size:30px}
.about-thumbnail .info .job-title{font-size:18px;margin-bottom:0}
.about-thumbnail img{position:absolute;z-index:2;height:100%;width:100%}
.about-thumbnail video{position:absolute;z-index:1;height:100%;width:100%}
.profile-cover{height:300px}
.profile-sidebar{width:230px;padding-right:20px;float:left}
.profile-content{margin:0 0 0 250px}
a.social{padding-left:26px}
a.social.e-mail{background:url("../img/social/email-16x16.png") left center no-repeat}
a.social.facebook{background:url("../img/social/facebook-16x16.png") left center no-repeat}
a.social.googleplus{background:url("../img/social/googleplus-16x16.png") left center no-repeat}
a.social.twitter{background:url("../img/social/twitter-16x16.png") left center no-repeat}
a.social.instagram{background:url("../img/social/instagram-16x16.png") left center no-repeat}
a.social.linkedin{background:url("../img/social/linkedin-16x16.png") left center no-repeat}
a.social.vimeo{background:url("../img/social/vimeo-16x16.png") left center no-repeat}
a.social.youtube{background:url("../img/social/youtube-16x16.png") left center no-repeat}
a.social.website{background:url("../img/social/website-16x16.png") left center no-repeat}
.contact-panes{background:#202020;margin-top:15%}
.contact-pane{width:33.33%;float:left;height:300px;padding:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.contact-pane.bglight{background:#272727}
.contact-travel{margin:0;padding:0;list-style-type:none;}
.contact-travel li{margin:0;overflow:hidden;}
.contact-travel li .icon48{float:left;margin:0 10px 25px 0}
.contact-travel li .iconlabel{display:block;padding:5px 0}
@media not screen and (min-width: 1000px){.container{min-width:0}
body{margin:0 0 290px}
footer{height:250px;padding:20px 0;}
footer .diamonds{display:none}
footer .logo{display:none}
footer .block{height:auto;display:block;padding:0;background:none;}
footer .block .icon-label{padding:0 0 10px 0}
nav.main .mobilenav{display:block;overflow:auto;}
nav.main .mobilenav #togglenav{height:50px;width:50px;background-color:transparent;background:url("../img/nav-icon.svg") no-repeat 50% 50%;background-size:75% auto;-webkit-background-size:auto auto;float:right;cursor:pointer}
nav.main ul{float:none;display:none;}
nav.main ul li{float:none;display:block;width:auto;}
nav.main ul li a{width:auto;padding:0 20px;background:rgba(255,255,255,0.05);}
nav.main ul li a .navlabel,nav.main ul li a .navglow{display:none}
nav.main ul li a .navitem{text-align:left}
nav.main ul li a .navitem:before{content:"\203A\00a0"}
nav.main ul li a:hover{background:rgba(255,255,255,0.1)}
nav.main ul li a.selected .navglow{display:none}
#background #grain{background:none}
}@media not screen and (min-width: 1000px){#media video{display:none}
#newsfeed{width:auto;float:none;}
#newsfeed .project-thumbnail{float:none;}
#newsfeed .project-thumbnail img{width:100%;height:auto}
}@media not screen and (min-width: 1000px){.portfolio-wrapper{overflow:hidden;}
.portfolio-wrapper .project-thumbnail{float:none;}
.portfolio-wrapper .project-thumbnail img{width:100%;height:auto}
}@media not screen and (min-width: 1000px){.project_description,.project_stills{width:auto;float:none}
}@media not screen and (min-width: 1000px){.reelbox,.clientbox{width:auto;padding:0;float:none}
}@media not screen and (min-width: 1000px){.about-thumbnail{width:auto;float:none;}
.about-thumbnail .info .name{font-size:2em}
.about-thumbnail .info .job-title{font-size:18px;margin-bottom:0}
.about-thumbnail video{display:none}
}@media not screen and (min-width: 1000px){.profile-cover{display:none}
.profile-sidebar{width:auto;padding-right:0;float:none}
.profile-content{margin:0}
}@media not screen and (min-width: 1000px){.profile-sidebar{width:auto;padding:0;float:none}
.profile-content{margin:0}
}@media not screen and (min-width: 1000px){.contact-pane{width:auto;float:none;height:auto}
}