{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ client.name }} {{ block.super }}{% endblock %}
{% block content %}
<div class="client">
    <h1>{{ client.name }}</h1>
    {% thumbnail client.logo "320x180" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ client.name }} logo">
    {% endthumbnail %}
    {{ client.desc_html|safe }}
</div>
{% endblock %}
