{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Portfolio {{ block.super }}{% endblock %}
{% block meta %}
    <meta name="description" content="An overview of WhooHoo's stunning projects.">
{% endblock %}
{% block bgmedia %}
    <div id="media">
        <div style="background: url({% static 'img/vanrossum.jpg' %}) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
    </div>
    <div id="grain"></div>
{% endblock %}
{% block content %}
<div class="portfolio">
    <nav class="filters">
        <ul>
            <li><a {% if not tag_selected %}class="selected"{% endif %} href="{% url 'portfolio' %}">All</a></li>
            {% for tag in tags %}
                <li><a {% if tag.slug == tag_selected %}class="selected"{% endif %} href="{% url 'portfolio_tag' tag_slug=tag.slug %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <div class="clear"></div>
    <div class="portfolio-wrapper">
        {% for item in portfolio %}
            <a class="project-thumbnail" id="item-{{ forloop.counter }}" href="{% url 'portfolio_project' client_slug=item.client.slug project_slug=item.slug %}">
                {% if item.thumbnail %}
                    {% thumbnail item.thumbnail "320x180" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-large="{{ MEDIA_URL }}{{ item.background }}">
                    {% endthumbnail %}
                {% else %}
                    <img src="{% static 'img/studio-whoohoo-logo.png' %}" width="320" height="180" data-large="{% static 'img/studio-whoohoo-logo.png' %}">
                {% endif %}
                <div class="title">{{ item.title }}</div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/swap-background.js' %}"></script>
    <script>
    {# Swap background when hovering over thumbnails #}
    $('.project-thumbnail img').hover(
        function(){
            if($(this).attr('data-large') != $('#background #media div:first').attr('data-large')){
                swap_background(bg=$(this).attr('data-large'));
            }
        },
        function(){}
    );
    </script>
{% endblock %}
