{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ project.title }} {{ block.super }}{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'plugins/fancyBox-2.1.5/jquery.fancybox.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'plugins/FlexSlider-2.2.2/flexslider.css' %}" type="text/css" media="screen">
{% endblock %}
{% block bgmedia %}
    <div id="media">
        <div style="background: url({{ MEDIA_URL }}{{ project.background }}) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
    </div>
    <div id="grain"></div>
{% endblock %}
{% block content %}
    <div class="container">
        {% if project.vimeo %}
            <div class="videoplayer">
                <iframe src="//player.vimeo.com/video/{{ project.vimeo }}" width="1000" height="562" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        {% else %}
            <div class="video-placeholder">
                {% thumbnail project.thumbnail "1000x562" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="vimeo-placeholder">
                {% endthumbnail %}
            </div>
        {% endif %}
    </div>
    <div class="content">
        <div class="container">
            <h1>{{ project.title }}</h1>
            <div class="project_date lightgray-text">{{ project.date|date:"d.m.y" }}</div>
            <div class="project_description{% if not project.still_set.all %}full{% endif %}">
                {{ project.desc_html|safe }}
            </div>
            {% if project.still_set.all %}
                <div class="project_stills">
                    {% for still in project.still_set.all %}
                        {% thumbnail still.image "302x170" crop="center" as im %}
                            <a class="fancybox" rel="{{ project.title }}" href="{{ MEDIA_URL }}{{ still.image }}" title="{{ still.title }}">
                                <img src="{{ im.url }}" alt="{{ project.name }} logo" title="{{ still.title }}">
                            </a>
                            {% cycle '' '<div class="clear"></div>' %}
                        {% endthumbnail %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div  id="slider" class="flexslider project_carousel">
            <ul class="slides">
            {% for item in portfolio %}
                <li>
                    <a class="item" id="item-{{ forloop.counter }}" href="{% url 'portfolio_project' client_slug=item.client.slug project_slug=item.slug %}">
                    {% if item.thumbnail %}
                        {% thumbnail item.thumbnail "267x150" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    {% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'plugins/fancyBox-2.1.5/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript">
        {# Settings for the lightbox #}
        $(document).ready(function() {
            $(".fancybox").fancybox({'padding': 3});
        });
    </script>
    <script defer src="{% static 'plugins/FlexSlider-2.2.2/jquery.flexslider-min.js' %}"></script>
    <script>
        {# Settings for the sliding gallery #}
        $(window).load(function() {
          $('.flexslider').flexslider({
            namespace: "flex-",
            animation: "slide", // fade
            easing: "swing",
            slideshow: false,
            animationLoop: true,
            directionNav: true,
            controlNav: false,
            itemWidth: 267,
            itemMargin: 0,
          });
        });
    </script>
{% endblock %}
