/***
 *
 *  MIXINS
 *  Functions that help generate repetitive styles.
 *
 */

/***
 *  Desc:    Accepts one set of 1-4 lengths or percentages
 *  Syntax:  top-left-radius top-right-radius bottom-right-radius bottom-left-radius
 *  Example: border-radius(10px 10px 10px 10px)
 */
border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

/***
 *  Desc:    Comma seperated list of shadows
 *  Syntax:  horizontal-offset vertical-offset blur-distance spread-distance color inset
 *  Example: box-shadow(10px 10px 5px 5px #000 inset)
 */
box-shadow()
    -webkit-box-shadow: arguments
    -moz-box-shadow: arguments
    box-shadow: arguments

/***
 *  Desc:
 *  Syntax:
 *  Example:
 */
border-box()
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

/***
 *  Desc:
 *  Syntax:
 *  Example:
 */
background-cover()
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

/***
 *  Desc:    comma seperated list of colors
 *  Syntax:  start-point, start-color start-interval, end-color end-interval
 *  Example: linear-gradient(top, #FFFFFF, 0%, #000000, 100%)
 */
background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
    background: -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background: -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background: -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background: -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background: linear-gradient(startPoint, startColor startInterval, endColor endInterval)

/***
 *  Desc:
 *  Syntax:
 *  Example:
 */
custom-linear-gradient()
    background: -webkit-linear-gradient(arguments)
    background: -moz-linear-gradient(arguments)
    background: -ms-linear-gradient(arguments)
    background: -o-linear-gradient(arguments)
    background: linear-gradient(arguments)

/***
 *  Desc:    Text shadow syntax reminder comment
 *  Syntax:  x-offset y-offset blur color
 *  Example: text-shadow: 2px 2px 2px rgba(0,0,0,.75)
 */
