/***
 *
 *  TYPOGRAPHY
 *  The font-size percentage is of 16px. (87.5 * 16px = 14px = 1em).
 *
 */

//
// DEFAULT FONT
//
html
    font-size: 81.25%

body
    font-family: 'Monda', sans-serif;
    line-height: 1.65
    color: $FONT
//
// HEADINGS
//
// margin-bottom = ( base font-size * base line-height ) / current font-size
h1, h2, h3, h4, h5, h6
    font-weight: 400
    line-height: 1
    margin-top: 0
    color: $HEADING

h1, .alpha
    font-size: 24px
    font-size: 1.846rem
    margin-bottom: 11.61875px
    margin-bottom: 0.89375rem

h2, .beta
    font-size: 20px
    font-size: 1.538rem
    margin-bottom: 13.9425px
    margin-bottom: 1.0725rem

h3, .gamma
    font-size: 16px
    font-size: 1.230rem
    margin-bottom: 17.428125px
    margin-bottom: 1.340625rem

h4, .delta
    font-size: 13px
    font-size: 1rem
    margin-bottom: 21.45px
    margin-bottom: 1.65rem
//
// PARAGRAPHS
//
p
    margin: 0 0 1em
    text-align: justify

p .left
    margin: 1.5em 1.5em 1.5em 0
    padding: 0

p .right
    margin: 1.5em 0 1.5em 1.5em
    padding: 0
//
// ANCHORS
//
a
    color: $LINK
    text-decoration: none

a:visited
    color: $LINK_VISITED

a:hover
    color: $LINK_HOVER
    text-decoration: underline

a:active
    color: $LINK_ACTIVE

footer
    a, a:hover, a:visited
        color: $GRAY
//
// FONT SIZES
//
.smallest
    font-size: 70%

.smaller
    font-size: 75%

.small
    font-size: 80%

.large
    font-size: 100%

.larger
    font-size: 112.5%

.largest
    font-size: 140%

.strong
    font-weight: bold

.cursive
    font-style: italic

.align-left
    text-align: left

.align-center
    text-align: center

.align-right
    text-align: right
//
// LISTS
//
ul,ol
    margin: 0 1.5em 1.5em 0
    padding-left: 1.5em

li ul,li ol
    margin: 0

dl
    margin: 0 0 1.5em 0

dl dt
    font-weight: bold

dd
    margin: 0

.unlist
    margin: 0
    padding: 0
    list-style-type: none

ul.tag-cloud
    margin: 0
    padding: 0
    li
        display: inline
        padding-right: 1em
        white-space: nowrap
        font-size: 0.850em
//
// TABLES
//
table.sandy
    border: 1px solid $SUB
    width:100%
    margin-bottom: 1em
    thead
        tr
            background-color: #eee
            background-linear-gradient(top, lighten($SUB, 40%), 0%, $SUB, 100%)
    th
        font-weight: bold
        text-align: left
    th, td
        border-bottom: 1px solid $SUB
        vertical-align: top
        padding: 5px
        color: #333
    tbody
        tr
            background: lighten($SUB, 30%)
        tr:nth-child(even)
            background: lighten($SUB, 50%)
        tr:last-child
            th, td
                border-bottom: 0
        tr.selected
            background: lighten($HEADING, 80%)
        tr:hover
            background: lighten($SUB, 70%)
/***
 *  Misc markup
 */
strong, dfn
    font-weight: bold

em,dfn
    font-style: italic

sup,sub
    line-height: 0

abbr,acronym
    border-bottom: 1px dotted #666

blockquote
    font-family: Georgia, serif
    font-style: italic
    color: #444
    margin-bottom: 1em

blockquote:before
    content: "\201C"

blockquote:after
    content "\201D"

pre
    white-space: pre

code
    display: block
    border: 1px dashed darken($HEADING, 50%)
    background-color: #f1f1f1
    margin: 1em 0
    padding: 1em
    font-family: monospace, Courier
    font-size: 0.850em

address
    font-style: italic

del
    text-decoration: line-through
    color: #666

.no-data
    margin: 0
    text-align: center
    font-style: italic
    font-size: 0.850em
    color: $GRAY

.metadata
    font-size: 0.85em
    color: $GRAY
