/*  MASTER STYLE SHEET
 *  Main css sheet containing all css.
 */
/*  NORMALIZE CSS
 *  Make browsers render all elements more consistently
 */
@import "normalize.css";
/*  COLORS
 *  Contains color variables used throughout the following css files.
 */
.black-text {
  color: #000;
}
.orange-text {
  color: #ff6700;
}
.darkblue-text {
  color: #405969;
}
.lightgray-text {
  color: #999;
}
.lightergray-text {
  color: #ccc;
}
.gray-text {
  color: #666;
}
.darkgray-text {
  color: #333;
}
.red-text {
  color: #f00;
}
.darkred-text {
  color: #600;
}
.green-text {
  color: #093;
}
.darkgreen-text {
  color: #071;
}
.darkpurple-text {
  color: #309;
}
.highlight {
  color: #245281;
}
/*  ANIMATIONS
 *  Contains all css animations
 */
@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  28% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  28% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*  TYPOGRAPHY
 *  Contain the default typography styles
 */
@font-face {
  font-family: 'Glyphicons';
  src: local('☺'), url("../fonts/glyphicons-halflings-regular.woff") format('woff');
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 0;
  color: #ff6700;
}
.giga {
  font-size: 60px;
  font-size: 3.33333rem;
  margin: 8.91px 0;
  margin: 0.495rem 0;
}
.mega {
  font-size: 48px;
  font-size: 2.6667rem;
  margin: 11.1375px 0;
  margin: 0.61875rem 0;
}
h1,
.alpha {
  font-size: 32px;
  font-size: 2rem;
  margin: 21.44px 0;
  margin: 0.67rem 0;
}
h2,
.beta {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 19.92px 0;
  margin: 0.83rem 0;
}
h3,
.gamma {
  font-size: 18.72px;
  font-size: 1.17rem;
  margin: 16px 0;
  margin: 1rem 0;
}
h4,
.delta {
  font-size: 16px;
  font-size: 1rem;
  margin: 21.28px 0;
  margin: 1.65rem 0;
}
p {
  margin: 16px 0;
  margin: 1rem 0;
  line-height: 1.5em;
}
a {
  color: #2980b9;
  text-decoration: none;
}
a:hover {
  color: #3091d1;
  text-decoration: underline;
}
a:active {
  outline: 0;
}
.smallest {
  font-size: 70%;
}
.smaller {
  font-size: 75%;
}
.small {
  font-size: 80%;
}
.large {
  font-size: 100%;
}
.larger {
  font-size: 112.5%;
}
.largest {
  font-size: 140%;
}
.strong {
  font-weight: bold;
}
.cursive {
  font-style: italic;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
ul.list {
  padding: 0;
  list-style-type: none;
  margin-bottom: 1em;
  display: table;
}
ul.list li {
  display: table-row;
  padding: 0.25em 0;
}
ul.list li:before {
  font-family: 'Glyphicons';
  content: '\e080';
  color: #105766;
  display: table-cell;
  padding-right: 10px;
  font-size: 0.65em;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin: 0;
}
.unlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.tag-cloud {
  margin: 0;
  padding: 0;
}
ul.tag-cloud li {
  display: inline;
  padding-right: 1em;
  white-space: nowrap;
  font-size: 0.85em;
}
table {
  font-size: 0.875em;
}
table th {
  text-align: left;
  font-weight: normal;
  color: #666;
  font-weight: bold;
}
table th,
table td {
  padding: 0.125em 0.5em 0.125em 0;
}
table.sandy {
  border: 1px solid #dbceac;
  width: 100%;
  margin-bottom: 1em;
}
table.sandy thead tr {
  background-color: #eee;
  background: linear-gradient(to bottom, #e9e2cd 0%, #dbceac 100%);
}
table.sandy th {
  font-weight: bold;
  text-align: left;
}
table.sandy th,
table.sandy td {
  border-bottom: 1px solid #dbceac;
  vertical-align: top;
  padding: 5px;
  color: #333;
}
table.sandy tbody tr {
  background: #e6ddc5;
}
table.sandy tbody tr:nth-child(even) {
  background: #ede7d5;
}
table.sandy tbody tr:last-child th,
table.sandy tbody tr:last-child td {
  border-bottom: 0;
}
table.sandy tbody tr.selected {
  background: #ffe1cc;
}
table.sandy tbody tr:hover {
  background: #f4f0e6;
}
strong,
dfn {
  font-weight: bold;
}
em,
dfn {
  font-style: italic;
}
sup,
sub {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
}
pre {
  white-space: pre;
}
code {
  display: block;
  border: 1px dashed #803400;
  background-color: #f1f1f1;
  margin: 1em 0;
  padding: 1em;
  font-family: monospace, Courier;
  font-size: 0.85em;
}
address {
  font-style: italic;
}
del {
  text-decoration: line-through;
  color: #666;
}
/*  FORMS
 *  Contains the default form styles
 */
input,
select {
  color: #000;
}
div.focus form {
  background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(187,187,187,0.9) 100%);
  box-shadow: 0 0.125em 0.125em rgba(51,51,51,0.2);
  border-radius: 0.5em;
  margin: 0 auto;
  max-width: 62.5em;
  padding: 1em;
}
div.focus input[type=text],
div.focus input[type=search],
div.focus select {
  padding: 0.25em 0.5em;
  background: rgba(255,255,255,0.9);
  border: 0;
  border: 0.125em solid rgba(0,0,0,0.1);
  outline: none;
  font-size: 1.25em;
  width: 100%;
  box-sizing: border-box;
  margin: 0.125em 0;
}
div.focus input[type=submit],
div.focus button {
  transition: background-color 0.5s ease;
  padding: 0.5em 1em;
  margin: 0.125em 0;
  background: #f78f1e;
  border: 0.125em solid transparent;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  outline: none;
  text-transform: uppercase;
}
div.focus input[type=submit]:hover,
div.focus button:hover {
  background: #d67308;
}
div.focus input[type=text]:focus,
div.focus input[type=search]:focus,
div.focus select:focus {
  border-color: rgba(247,144,32,0.9);
}
a.btn {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.125em;
  font-weight: 600;
  color: #fff;
  background: #666;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}
a.btn:hover {
  text-decoration: none;
}
a.btn.blue {
  background: #105766;
}
a.btn.blue:hover {
  background: #0d4652;
}
a.btn.green {
  background: #093;
}
a.btn.green:hover {
  background: #007a29;
}
a.btn.orange {
  background: #f78f1e;
}
a.btn.orange:hover {
  background: #d67308;
}
a.btn.red {
  background: #f00;
}
a.btn.orange:hover {
  background: #c00;
}
/*  ICONS
 *  Contains icons.
 */
.icon16 {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/sprite_icon16.png") no-repeat;
}
.icon16 a {
  display: block;
  height: 16px;
}
.icon48 {
  display: block;
  width: 48px;
  height: 48px;
  background: url("../img/sprite_icon48.png") no-repeat;
}
.icon48 a {
  display: block;
  height: 48px;
  text-indent: -9999px;
}
.iconified {
  position: relative;
  padding-left: 26px;
}
.iconified .icon {
  position: absolute;
  left: 0;
  top: 1px;
}
.icon16.phone {
  background-position: 0 0;
}
.icon16.mail {
  background-position: 0 -16px;
}
.icon16.house {
  background-position: 0 -32px;
}
.icon16.book {
  background-position: 0 -48px;
}
.icon16.papers {
  background-position: 0 -64px;
}
.icon16.empty {
  background-position: 0 -80px;
}
.icon48.vimeo {
  background-position: 0 0;
}
.icon48.facebook {
  background-position: 0 -48px;
}
.icon48.gmaps {
  background-position: 0 -96px;
}
.icon48.car {
  background-position: 0 -144px;
}
.icon48.train {
  background-position: 0 -192px;
}
.icon48.helicopter {
  background-position: 0 -240px;
}
.icon48.vimeo:hover {
  background-position: -48px 0;
}
.icon48.facebook:hover {
  background-position: -48px -48px;
}
.icon48.gmaps:hover {
  background-position: -48px -96px;
}
/*  BASIC
 *  Contains basic layout (mobile-first)
 */
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
main {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
footer {
  color: #666;
  background: #efefef;
  border-top: 1px solid #ddd;
}
footer .boxes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
}
footer .box {
  padding: 0.5em;
}
footer .box h4 {
  text-transform: uppercase;
  font-weight: 600;
  color: #105766;
  font-size: 0.75rem;
  margin: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  padding: 0 0 0.5em;
}
footer .box a {
  display: block;
  margin: 0.5rem 0;
}
footer .box a:hover {
  text-decoration: none;
}
footer div.legal {
  padding: 1em;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 0.75rem;
}
footer div.legal a {
  margin-left: 1em;
}
footer div.legal span.copyright {
  display: block;
}
a.logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
}
a.logo svg {
  display: block;
  width: 2em;
  height: 2em;
}
a.logo:hover svg {
  -webkit-animation: heartbeat 1s infinite;
          animation: heartbeat 1s infinite;
}
header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 2%;
  z-index: 10;
  border-bottom: 0.0625em solid #ddd;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
a.mn-btn {
  display: inline-block;
  padding: 0.5em;
}
a.mn-btn svg {
  display: block;
  width: 2em;
  height: 2em;
}
a.mn-btn:hover svg {
  transition: fill 0.5s ease;
  fill: #000;
}
nav.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
nav.main div.main-nav {
  display: none;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
nav.main div.main-nav a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5em 2em;
  font-weight: 600;
  color: #222;
  transition: background-color 0.5s ease;
}
nav.main div.main-nav a:hover,
nav.main div.main-nav a.selected {
  text-decoration: none;
  color: #fff;
  background: #f79020;
}
nav.main div.side-nav {
  text-align: right;
  display: none;
}
nav.main div.side-nav a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  margin-left: 1em;
}
nav.main div.side-nav a:hover {
  text-decoration: none;
  color: #ff6700;
}
nav.main div.side-nav a.employer-btn {
  display: inline-block;
  background: #273238;
  color: #fff;
  padding: 0.75em 1em;
  text-align: center;
  margin: 0.75em;
}
nav.main div.side-nav a.employer-btn:hover {
  text-decoration: none;
}
nav.main div.side-nav a.employer-btn:after {
  font-family: 'Glyphicons';
  content: '\e080';
  color: #fff;
  display: inline-block;
  padding-left: 0.75em;
  font-size: 0.75em;
}
nav.sub {
  display: none;
  background: #eee;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.0625em solid #ddd;
}
nav.sub a {
  color: #444;
  text-transform: uppercase;
  font-size: 0.875em;
  padding: 0.5em 1em;
  transition: background-color 0.5s ease;
}
nav.sub a:hover,
nav.sub a.selected {
  background: #ccc;
  color: #fff;
  text-decoration: none;
}
div#mn {
  display: none;
}
div#mn:target {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.focus {
  padding: 1em;
  background-image: linear-gradient(to bottom, #2d688c 0%, #5c9bbd 100%);
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  position: relative;
}
.focus h1,
.focus h2 {
  color: #fff;
}
.focus h1 {
  font-size: 1.5em;
}
.focus h2 {
  font-size: 1.125em;
}
.focus p {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 62.5em;
  text-align: center;
}
main .boxes {
  padding: 1em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .boxes .box {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 1em;
}
main .boxes .box h1,
main .boxes .box h2,
main .boxes .box h3,
main .boxes .box h4,
main .boxes .box h5,
main .boxes .box h6 {
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  font-weight: 600;
}
main .boxes .box h2 {
  font-size: 1em;
  padding: 0 0 0.5em;
}
.content {
  padding: 1em;
}
.medium-rectangle {
  width: 18.75em;
  height: 15.625em;
  max-width: 100%;
  background: #ccc;
}
div#info {
  display: none;
}
div#info p {
  margin: 1em auto;
}
ol.breadcrumb {
  font-size: 0.5625em;
  margin: 0;
  padding: 0.5em 1rem;
}
ol.breadcrumb li {
  display: inline-block;
  padding: 0.25em 0;
}
ol.breadcrumb li a {
  color: #000;
  text-transform: uppercase;
}
ol.breadcrumb li:after {
  content: "›";
  display: inline-block;
  padding: 0 1em;
  position: relative;
  opacity: 0.7;
}
ol.breadcrumb li:last-child:after {
  content: "";
}
/*  PAGES
 *  Contains all extra css required for layout per page
 */
.focus .buttons {
  font-size: 0.75em;
  padding: 1em;
}
.focus a.btn {
  display: block;
  margin: 1.25em auto 0.75em;
  padding: 0.75em;
  font-size: 3.5vw;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  outline: 0.5em rgba(255,255,255,0.3) solid;
  transition: background-color 0.5s ease;
  transition: outline-color 0.5s ease;
  text-shadow: none;
}
.focus a.btn span.em {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10vw;
}
.focus a.btn.orange {
  background: #ff6700;
  color: #fff;
}
.focus a.btn.orange:hover {
  background: #fff;
  color: #ff6700;
  outline-color: rgba(0,0,0,0.3);
}
.focus a.btn.blue {
  background: #105766;
  color: #fff;
}
.focus a.btn.blue:hover {
  background: #fff;
  color: #105766;
  outline-color: rgba(0,0,0,0.3);
}
.focus .call-us .mainline {
  font-size: 0.875em;
}
.focus .call-us .subline {
  font-size: 0.625em;
}
div.searchresults {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}
div.filters {
  display: none;
  width: 15em;
}
div.filters h2,
div.filters h3 {
  text-transform: uppercase;
  font-weight: 600;
}
div.filters h2 {
  font-size: 1em;
  color: #666;
}
div.filters h3 {
  font-size: 0.875em;
  color: #f78f1e;
}
div.filters ul {
  list-style-type: none;
  padding: 0;
}
div.filters ul li span {
  color: #666;
}
div.filters ul li.selected {
  font-weight: bold;
}
div.filters ul li.selected a {
  color: #000;
}
div.results {
  width: 100%;
  max-width: 50em;
}
div.results h1 {
  margin-left: 0.5em;
}
div.results ul.pagination {
  padding: 0;
}
div.results ul.pagination li {
  display: inline-block;
  border: 0.125em solid #ddd;
  margin-right: 0.5em;
  margin: 0 0 0.5em 0.5em;
}
div.results ul.pagination li a {
  display: block;
  padding: 0.5em 1em;
}
div.results ul.pagination li.selected a {
  font-weight: 600;
  color: #000;
}
div.results ul.pagination li:hover a {
  text-decoration: none;
  background: #ffe8d9;
}
a.result {
  color: #000;
  display: block;
  padding: 1em;
  transition: background-color 0.5s ease;
}
a.result h2 {
  color: #2980b9;
  text-decoration: underline;
  font-weight: 600;
  margin: 0;
  font-size: 1em;
}
a.result .company {
  color: #006621;
}
a.result:hover {
  text-decoration: none;
  background: #ffe8d9;
}
a.filter-btn {
  border: 0.125em solid #ddd;
  padding: 0.5em 1em;
  display: inline-block;
  margin: 1em;
}
a.filter-btn:hover {
  background: #ffe8d9;
  text-decoration: none;
}
div#filters:target {
  display: block;
}
.vacancy-profile {
  padding: 1em;
}
.vacancy-profile h2 {
  color: #803400;
}
.vacancy-profile h3 {
  color: #401a00;
}
.company-details img {
  width: 100%;
  max-width: 480px;
}
/*  ADAPTIVE
 *  Contains all adaptive designs
 */
@media screen and (min-width: 20em) {
  .focus {
    padding: 2em;
  }
  .focus h1 {
    font-size: 7vw;
  }
  .focus h2 {
    font-size: 4.5vw;
  }
  .focus .buttons {
    padding: 1em 15%;
  }
  .focus a.btn {
    font-size: 3vw;
  }
  .focus a.btn span.em {
    font-size: 8vw;
  }
  .focus .call-us {
    margin: 1em 0;
  }
  .focus .call-us .mainline {
    font-size: 4vw;
  }
  .focus .call-us .subline {
    font-size: 3vw;
  }
  .focus .buttons {
    font-size: 0.875em;
  }
}
@media screen and (min-width: 45em) {
  a.logo svg,
  a.mn-btn svg {
    width: 3em;
    height: 3em;
  }
  .focus {
    background-size: cover;
  }
  .focus h1 {
    font-size: 5vw;
  }
  .focus h2 {
    font-size: 2.5vw;
  }
  .focus .buttons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    font-size: 1em;
    padding: 1vw 10%;
  }
  .focus a.btn {
    width: 28vw;
    padding: 0.75em;
    font-size: 2vw;
  }
  .focus a.btn span.em {
    font-size: 4vw;
  }
  .focus .call-us {
    margin: 2em 0;
  }
  .focus .call-us .mainline {
    font-size: 1.375em;
  }
  .focus .call-us .subline {
    font-size: 0.875em;
  }
  main .boxes {
    max-width: 87.5em;
    margin: 0 auto;
  }
  main .boxes .box {
    width: 50%;
  }
  div#mn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    font-size: 0.75rem;
  }
  footer .boxes {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  footer .box {
    width: 33.33%;
    box-sizing: border-box;
  }
  footer .box.close {
    display: none;
  }
  footer div.legal {
    margin: 0 10%;
    font-size: 1em;
  }
  div.searchresults {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1em 2em;
  }
  div.searchresults div.filters {
    display: block;
    border-right: 0.125em solid #ddd;
    padding: 0 1em 0 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  div.searchresults div.results {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  div.searchresults a.filter-btn,
  div.searchresults a.xfilter-btn {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  a.mn-btn,
  a#mn-close {
    display: none;
  }
  nav.main div.main-nav,
  nav.main div.side-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  nav.main a {
    font-size: 0.875em;
    padding: 0.5em;
  }
  .focus h1 {
    font-size: 4vw;
  }
  .focus h2 {
    font-size: 2vw;
  }
  .focus div#info {
    display: block;
  }
  .focus .buttons {
    font-size: 1.25vw;
    padding: 4vw 15%;
  }
  .focus a.btn {
    width: 25vw;
    padding: 0.75em;
    font-size: 1.5vw;
  }
  .focus a.btn span.em {
    font-size: 3vw;
  }
  .focus form.search input.keyword,
  .focus form.search input.city {
    width: 16em;
  }
  .focus form.search select.radius {
    width: 5em;
  }
  nav.sub {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  main .boxes .box {
    width: 33.333%;
  }
  main .boxes .box.star {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  footer .boxes {
    max-width: 87.5em;
    margin: 0 auto;
  }
  footer .box {
    width: 20%;
    padding: 0.5em 1em;
    box-sizing: border-box;
  }
  footer div.legal span.copyright {
    display: inline;
  }
  .vacancy-profile {
    padding: 2em;
  }
  .vacancy-profile .flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .vacancy-profile .vacancy {
    padding: 0 1em 1em 0;
    width: 70%;
    max-width: 40em;
  }
  .vacancy-profile .company-details {
    padding: 0 1em 1em 0;
    width: 30%;
    max-width: 30em;
  }
}
@media screen and (min-width: 80em) {
  .focus h1 {
    font-size: 4vw;
  }
  .focus h2 {
    font-size: 2vw;
  }
  .focus .buttons {
    font-size: 1vw;
    padding: 1vw 25%;
  }
  .focus a.btn {
    width: 20vw;
    padding: 0.75em;
    font-size: 1vw;
  }
  .focus a.btn span.em {
    font-size: 2.5vw;
  }
  main .boxes .box {
    width: 25%;
  }
  main .boxes .box.star {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  main .boxes .box.star,
  main .boxes .box.wiki,
  main .boxes .box.ad {
    width: 33%;
  }
}
@media screen and (min-width: 100em) {
  .focus h1 {
    font-size: 3.5em;
  }
  .focus h2 {
    font-size: 1.75em;
  }
  .focus .buttons {
    font-size: 1vw;
    padding: 1vw 25%;
  }
  .focus a.btn {
    width: 20vw;
    padding: 0.75em;
    font-size: 1vw;
  }
  .focus a.btn span.em {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 120em) {
  html {
    margin: 0;
  }
}
@media print {
  html {
    margin: 0;
  }
}
